// Font Family
$font-family: 'Montserrat', sans-serif;

// Viewports
$custom_1440: 1440px;
$custom_1280: 1280px;
$custom_1200: 1200px;
$custom_500: 500px;
$custom_375: 375px;
$lg: 992px;
$md: 768px;
$sm: 425px;

// Colors
$primary: #FF0000;
$primary-border: #FFFFFF;
$secondary-border: #222;
$bg: #FFFFFF;
$bg-light: #FCFCFC;
$bg-dark: #151515;
$text-light: #FFFFFF;
$text-dark: #0D0D17;

// Border-radius
$radius-1: 40px;
$radius-2: 39px;
$radius-3: 19px;