#colophon {
    padding-top: 100px;
    padding-bottom: 30px;
    @include media(lg) {
        padding-top: 40px;
        padding-bottom: 41px;
    }

    .container {

        .sliding-text-navigation {
            @include sliding-text-navigation;
            p {
                color: $text-dark;
                max-width: 176px;
            }

        }

        .instagram-posts-wrapper {
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 33px;

            @include media(lg) {
                overflow-x: auto;
                scroll-snap-type: x mandatory;
            }

            margin: 67px 0;
            @include media(lg) {
                margin: 13px 0 40px;
            }

            .post-item {
                @include media(lg) {
                    flex: 0 0 100%;
                    scroll-snap-align: start;
                }

                img {
                    width: 100%;
                    object-fit: cover;
                }

            }

        }

        .footer-navigation {

            .main-navigation {
                display: flex;
                align-items: center;
                justify-content: space-between;
                
                border-bottom: 1px solid #000;
                padding-bottom: 15px;

                #menu-footer-menu {
                    display: flex;
                    align-items: center;
                    gap: 30px;
                    @include media(lg) {
                        display: none;
                    }

                    li {
                        list-style: none;
                        a {
                            text-decoration: none;
                            font-size: 24px;
                            font-weight: 400;
                            line-height: 24px;
                            letter-spacing: -0.48px;
                            color: #000;
                        }

                    }
                }

                .footer-search {
                    display: flex;
                    align-items: center;

                    input {
                        border: none;
                        outline: none;

                        color: #000;
                        font-size: 24px;
                        font-weight: 400;
                        line-height: 24px;
                        letter-spacing: -0.48px;

                        &::placeholder {
                            color: #000;
                            font-size: 24px;
                            font-weight: 400;
                            line-height: 24px;
                            letter-spacing: -0.48px;
                        }

                        &::-webkit-input-placeholder {
                            color: #000;
                            font-size: 24px;
                            font-weight: 400;
                            line-height: 24px;
                            letter-spacing: -0.48px;
                        }

                        &::-ms-input-placeholder {
                            color: #000;
                            font-size: 24px;
                            font-weight: 400;
                            line-height: 24px;
                            letter-spacing: -0.48px;
                        }

                        &:-ms-input-placeholder {
                            color: #000;
                            font-size: 24px;
                            font-weight: 400;
                            line-height: 24px;
                            letter-spacing: -0.48px;
                        }
                    }

                }
            
            }

            .bottom-navigation {
                padding-top: 52px;
                display: flex;
                justify-content: space-between;
                @include media(lg) {
                    flex-direction: column;
                }

                .shortcut-links {
                    display: flex;
                    gap: 100px;
                    flex-wrap: wrap;
                    ul {
                        li {
                            list-style: none;
                            a {
                                text-decoration: none;
                                color: #616161;
                                font-size: 14px;
                                font-style: normal;
                                font-weight: 400;
                                line-height: 24px;
                            }
                        }
                    }
                }

                .notices {
                    max-width: 213px;
                    @include media(lg) {
                        max-width: unset;
                        width: 100%;
                        margin-top: 26px;
                    }
                    
                    p {
                        color: #616161;
                        font-size: 12px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 18px;
                    }

                    .social-media-links {
                        margin-top: 45px;
                        margin-bottom: 16px;
                        @include media(lg) {
                            margin-top: 37px;
                        }

                        a {
                            img {
                                width: auto;
                                @include media(lg) {
                                    transform: scale(1.5);
                                    margin-right: 15px;
                                }
                            }
                        }
                    }

                    .privacy {
                        a {
                            text-decoration: none;
                            color: #616161;
                            font-size: 12px;
                            font-style: normal;
                            font-weight: 400;
                            line-height: 14px;
                        }
                    }
                }
            }

        }

    }

}