header {
	position: fixed;
	width: 100vw;
	z-index: 99;
	padding: 31px 60px 20px;

	// @include media(lg) {
	// 	padding: 25px 20px;
	// }

	@include media($custom_1440) {
		padding: 31px 60px 20px;
	}

	@include media($custom_1279) {
		padding: 14px 35px 0;
	}

	@include media($custom_500) {
		padding: 20px 55px 0;
	}

	&.light {
		a {
			color: #fff !important;
		}

		.btn-header-menu {
			background: #fff !important;
			color: $text-dark !important;
		}
	}

	&.dark {
		a {
			color: $text-dark !important;
			border-color: $text-dark;
		}

		.btn-header-menu {
			background: $text-dark !important;
			color: #fff !important;
			border-color: $text-dark;
		}
	}

	.header-wrapper {
		display: flex;
		justify-content: space-between;
		align-items: center;

		.reflections-logo {
			a {
				text-transform: uppercase;
				font-family: "Clash Display Regular", sans-serif;
				// @include media(lg) {
				// 	padding: 3px 12px;
				// 	font-size: 14px;
				// 	line-height: 20px;
				// }

				@include media($custom_1279) {
					padding: 3px 12px;
					font-size: 11px;
				}

				@include media($custom_699) {
					margin-left: -15px;
					font-size: 12px;
					padding: 3px 11px;
				}

				@include media($custom_500) {
					margin-left: -35px;
					font-size: 8px;
					padding: 2px 13px;
				}
			}
		}

		.header-navigation {
			@include media($custom_1440) {
				margin-right: -3px;
			}

			@include media($custom_1279) {
				margin-right: -1px;
			}

			@include media($custom_699) {
				margin-right: -15px;
			}

			@include media($custom_500) {
				margin-right: -35px;
			}

			.btn-header-menu {
				margin-left: 20px;
				// @include media($custom_1279) {
				// 	margin-left: 10px;
				// }
				@include media($custom_500) {
					margin-left: 16px;
				}
			}

			a {
				text-transform: uppercase;
				font-family: "Clash Display Regular", sans-serif;
				// @include media(lg) {
				// 	padding: 3px 12px;
				// 	font-size: 14px;
				// 	line-height: 20px;
				// }

				@include media($custom_1279) {
					font-size: 11px;
					padding: 3px 12px;
				}

				@include media($custom_500) {
					font-size: 8.5px;
					padding: 0px 8px;
				}
			}
		}
	}
}
