header {
    position: fixed;
    width: 100%;
    padding: 31px 60px 20px;
    .header-wrapper {

        display: flex;
        justify-content: space-between;
        align-items: center;

    }

}