.courses {
	background: $bg-dark;
	padding-top: 111px;
	padding-bottom: 100px;
	@include media($custom_1279) {
		padding-top: 87px;
		padding-bottom: 72px;
	}

	@include media($custom_699) {
		padding-top: 38px;
		padding-bottom: 95px;
	}

	.courses-container {
		.courses-subtitle {
			color: $text-light;
			font-size: 26px;
			font-weight: 400;
			line-height: 50.654px;
			letter-spacing: -1px;
			margin-bottom: 7px;
			text-align: center;
			@include media($custom_1279) {
				font-family: "Clash Display Regular", sans-serif;
				font-size: 17px;
				// font-style: normal;
				font-weight: 500;
				line-height: 14px;
				letter-spacing: normal;
				margin-bottom: 11px;
			}

			@include media($custom_699) {
				font-size: 14px;
				text-align: left;
				margin-left: 4px;
				margin-left: 6px;
			}
		}

		h2 {
			font-family: "GeneralSans Regular", sans-serif;
			color: $text-light;
			max-width: 769px;
			text-align: center;
			margin: 0 auto;
			font-size: 42px;
			line-height: 49px;
			letter-spacing: -1px;
			margin-top: -2px;
			@include media($custom_1279) {
				text-align: center;
				max-width: 530px;
				font-size: 30px;
				line-height: 34px;
			}

			@include media($custom_699) {
				text-align: left;
				margin-left: 6px;
				margin-top: 14px;
				line-height: 31px;
				max-width: 379px;
			}
		}

		.courses-cards-wrapper {
			display: flex;
			justify-content: center;
			gap: 97px;
			margin-top: 76px;

			@include media($custom_1279) {
				margin-top: 55px;
				gap: 56px;
			}

			@include media($custom_699) {
				flex-direction: column;
				align-items: center;
				margin-top: 81px;
				flex-wrap: wrap;
			}

			.card {
				position: relative;
				max-width: 453px;
				padding: 31px 20px 3px;
				// border-radius: $radius-2;
				border-radius: 10px;
				min-height: 550px;
				display: flex;
				flex-direction: column;
				// justify-content: space-between;
				gap: 194px;
				// @include media(lg) {
				// 	min-height: 512px;
				// 	width: 100%;
				// 	min-width: unset;
				// 	border-radius: 15px;
				// }

				@include media($custom_1279) {
					max-width: 310px;
					padding-top: 15px;
					min-height: 100px;
				}

				@include media($custom_699) {
					max-width: 100%;
				}

				.card-upper {
					@include media($custom_1279) {
						margin-left: -10px;
					}

					@include media($custom_699) {
						margin-left: -5px;
					}
				}

				.card-lower {
					@include media($custom_1279) {
						margin-top: -70px;
					}

					@include media($custom_699) {
						margin-top: 50px;
					}
				}

				.subtitle {
					text-transform: unset;
					width: fit-content;
					margin-left: -3px;
					padding: 4px 13px;

					@include media($custom_1279) {
						padding: 1px 9.5px;
						font-size: 11px;
					}

					@include media($custom_699) {
						display: inline-block;
						margin-top: 10px;
						font-size: 14px;
						padding: 2px 20px;
						margin-left: 3px;
					}
				}

				h3 {
					font-family: "Clash Display Medium", sans-serif;

					text-transform: uppercase;
					margin-top: 18px;
					font-size: 45px;
					line-height: 45px;

					@include media($custom_1279) {
						font-size: 30px;
						margin-top: 12px;
						line-height: 29px;
					}

					@include media($custom_699) {
						margin-left: 3px;
						font-size: 44px;
						margin-top: 16px;
						line-height: 41px;
					}
				}

				p {
					font-family: "GeneralSans Regular", sans-serif;
					font-size: 15px;
					font-weight: 400;
					line-height: 23.2px;
					letter-spacing: -0.36px;

					@include media($custom_1279) {
						font-size: 10px;
						line-height: 16px;
						margin-top: 2px;
						margin-left: -9px;
					}

					@include media($custom_699) {
						font-size: 15px;
						margin-top: -58px;
						line-height: 21px;
						max-width: 412px;
					}
				}

				.buttons-wrapper {
					margin-top: 17px;
					margin-bottom: 1.8rem;
					display: flex;
					align-items: center;
					gap: 40px;

					@include media($custom_1279) {
						margin-bottom: 0.8rem;
						gap: 28px;
						margin-left: -10px;
					}

					@include media($custom_699) {
						margin-top: 27px;
						gap: 36px;
						margin-left: 0;
						margin-bottom: 29px;
					}

					a {
						text-transform: unset;
						font-size: 15px;
						padding: 4px 13px;
						@include media($custom_1279) {
							font-size: 11px;

							padding: 0px 10px !important;
						}

						@include media($custom_699) {
							font-size: 16px;
							padding: 2px 10px !important;
						}
					}
				}

				&.first-course {
					background: #f5efef;

					@include media($custom_699) {
						margin-left: -7px;
					}

					.card-background-radial {
						position: absolute;
						z-index: 0;
						width: 100%;
						height: 85%;
						top: 10%;
						left: 0;
						border-radius: 370px;
						background: radial-gradient(
							70.71% 70.71% at 50% 50%,
							$primary 0%,
							rgba(255, 89, 0, 0) 70%
						);
						@include media(lg) {
							height: 68%;
						}
					}

					.subtitle {
						border: 1px solid #000000;
						color: #222222;
					}

					h3 {
						color: $primary;
						max-width: 390px;
					}

					.card-lower {
						position: relative;
						z-index: 1;
					}

					p {
						color: #777777;
					}

					.buttons-wrapper {
						a {
							border: 1px solid #000;
							&:nth-child(1) {
								color: #222;
								padding: 4px 14px;
							}
							&:nth-child(2) {
								background: #191819;
								font-family: "GeneralSans Light",
									sans-serif;
								padding: 4px 16px;
							}
						}
					}
				}

				&.second-course {
					background: $primary;

					@include media($custom_699) {
						margin-left: -7px;
						margin-top: -20px;
					}

					h3 {
						color: $text-light;
						max-width: 375px;
					}

					p {
						color: #e1e1e1;
						@include media($custom_699) {
							margin-left: -2px;
						}
					}

					.buttons-wrapper {
						@include media($custom_699) {
							margin-bottom: 31px;
						}
						a {
							&:nth-child(2) {
								background: $text-light;
								color: #050505;
							}
						}
					}
				}
			}
		}
	}
}
