.courses {
    background: $bg-dark;
    padding-top: 127px;
    padding-bottom: 112px;
    @include media(lg) {
        padding-top: 59px;
        padding-bottom: 79px;
    }

    .courses-container {

        .courses-subtitle {
            color: $text-light;

            font-size: 31px;
            font-weight: 400;
            line-height: 50.654px;
            letter-spacing: -1px;
            margin-bottom: 7px;
            text-align: center;
            @include media(lg) {
                font-family: 'Clash Display Regular', sans-serif;
                font-size: 14px;
                font-style: normal;
                font-weight: 500;
                line-height: 14px;
                text-transform: uppercase;
                letter-spacing: normal;
                text-align: left;
                margin-bottom: 27px;
            }
        }

        h2 {
            @include h-3;
            font-family: 'GeneralSans Regular', sans-serif;
           color: $text-light; 
           max-width: 825px;
           text-align: center;
           margin: 0 auto;
           @include media(lg) {
            margin: 0;
            text-align: left;
           }
        }

        .courses-cards-wrapper {
            display: flex;
            justify-content: center;
            gap: 97px;
            margin-top: 86px;
            @include media(lg) {
                flex-direction: column;
                gap: 50px;
                margin-top: 63px;
            }

            .card {
                position: relative;
                max-width: 465px;
                padding: 31px 20px 39px;
                border-radius: $radius-2;
                min-height: 622px;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                @include media(lg) {
                    min-height: 512px;
                    width: 100%;
                    min-width: unset;
                    border-radius: 15px;
                }
                
                .subtitle {
                    text-transform: unset;
                    width: fit-content;
                }

                h3 {
                    @include h-3;
                    text-transform: uppercase;
                    margin-top: 18px;
                }

                p {
                    @include p-2;
                }

                .buttons-wrapper {
                    margin-top: 28px;
                    display: flex;
                    align-items: center;
                    gap: 25px;

                    a {
                        text-transform: unset;
                        @include media(md) {
                            font-size: 13px;
                        }
                    }
                }

                &.first-course {
                    background: #F5EFEF;

                    .card-background-radial {
                        position: absolute;
                        z-index: 0;
                        width: 100%;
                        height: 85%;
                        top: 10%;
                        left: 0;
                        border-radius: 370px;
                        background: radial-gradient(70.71% 70.71% at 50% 50%, $primary 0%, rgba(255, 89, 0, 0.00) 70%);
                        @include media(lg) {
                            height: 68%;
                        }
                    }

                    .subtitle {
                        border: 1px solid #000000;
                        color: #222222;
                    }

                    h3 {
                        color: $primary;
                        max-width: 390px
                    }

                    .card-lower {
                        position: relative;
                        z-index: 1;
                    }

                    p {
                        color: #777777;
                    }

                    .buttons-wrapper {
                        a {
                            border: 1px solid #000;
                            &:nth-child(1) {
                                color: #222;
                            }
                            &:nth-child(2) {
                                background: #191819;
                                font-family: 'GeneralSans Light', sans-serif;
                            }
                        }
                    }

                }

                &.second-course {
                    background: $primary;

                    h3 {
                        color: $text-light;
                        max-width: 375px;
                    }

                    p {
                        color: #E1E1E1;
                    }

                    .buttons-wrapper {
                        a {
                            &:nth-child(2) {
                                background: $text-light;
                                color: #050505;
                            }
                        }
                    }
                }

            }

        }

    }

}