.faqs {
	padding-top: 138px;
	padding-bottom: 51px;
	background: $bg-dark;
	@include media($custom_1440) {
		padding-top: 124px;
		padding-bottom: 41px;
		background: $bg-dark;
	}
	@include media($custom_1279) {
		padding-top: 88px;
		padding-bottom: 33px;
	}

	@include media($custom_699) {
		padding-top: 45px;
	}

	@include media($custom_500) {
		padding-top: 59px;
	}

	.faqs-container {
		@include media($custom_500) {
			padding: 0 12px;
		}
		span {
			margin-bottom: 13px;
			color: $text-light;

			font-family: "Clash Display Medium", sans-serif;
			font-size: 13px;
			font-style: normal;
			font-weight: 500;
			line-height: 14px;
			text-transform: uppercase;
			margin-left: 3px;

			@include media($custom_500) {
				margin-left: 9px;
			}
		}

		h2 {
			@include h-3;
			font-family: "GeneralSans Regular", sans-serif;
			color: $text-light;
			text-transform: unset;
			text-align: center;
			max-width: 612px;
			margin: 0 auto;
			margin-top: 25px;

			@include media($custom_1440) {
				font-family: "GeneralSans Regular", sans-serif;
				color: $text-light;
				text-transform: unset;
				text-align: center;
				max-width: 555px;
				margin: 0 auto;
				font-size: 41px;
				line-height: 46px;
			}
			@include media($custom_1279) {
				max-width: 380px;
				font-size: 30px;
				font-style: normal;
				font-weight: 400;
				line-height: 30.5px;
				letter-spacing: -0.6px;
			}

			@include media($custom_699) {
				text-align: left;
				margin: 0;
			}

			@include media($custom_500) {
				font-size: 28px;
				margin-left: 9px;
				max-width: 255px;
			}
		}

		.accordion-wrapper {
			margin-top: 77px;
			@include media($custom_1440) {
				margin-top: 76px;
				margin-left: -3px;
			}
			@include media($custom_1279) {
				margin-top: 53px;
				padding: 0 20px;
			}

			@include media($custom_699) {
				padding: 0 9px;
				margin-top: 61px;
			}

			@include media($custom_500) {
				margin-top: 41px;
			}

			.item {
				padding-top: 23px;
				padding-bottom: 4px;
				border-top: 1px solid $text-light;
				@include media($custom_1279) {
					padding-top: 0px;
					padding-bottom: 1px;
				}

				@include media($custom_699) {
					padding-bottom: 4px;
				}

				@include media($custom_500) {
					padding-top: 5px;
				}
				&:nth-child(5) {
					@include media($custom_699) {
						border-bottom: 1px solid $text-light;
					}
				}

				.title {
					font-family: "Neue Montreal", sans-serif;
					position: relative;
					color: $text-light;

					font-size: 24px;
					font-weight: 400;
					line-height: 18.196px;
					letter-spacing: -0.2px;
					margin-bottom: 20px;
					cursor: pointer;
					transition: 0.5s;

					@include media($custom_1440) {
						position: relative;
						color: $text-light;

						font-size: 20px;
						font-weight: 400;
						line-height: 9.2px;
						letter-spacing: -0.2px;
						margin-bottom: 20px;
						cursor: pointer;
						transition: 0.5s;
					}
					@include media($custom_1279) {
						font-size: 13.8px;
						font-style: normal;
						font-weight: 400;
						line-height: 25px;
						letter-spacing: -0.2px;
						padding-right: 4px;
						margin-bottom: 12px;
					}

					@include media($custom_699) {
						font-size: 14.8px;
					}

					@include media($custom_500) {
						margin-bottom: 2px;
						font-size: 13px;
					}

					&::after {
						content: "+";
						position: absolute;
						right: 0;

						@include media($custom_500) {
							display: none;
						}
					}
				}

				.content {
					@include p-1;
					color: $text-light;
					opacity: 0;
					max-height: 0;
					transition: all 0.5s, max-height 0.3s linear;
					@include media($custom_1279) {
						font-size: 13px !important;
					}
				}

				&.active {
					.title {
						&::after {
							content: "-";
							position: absolute;
							right: 0;
						}
					}

					.content {
						visibility: visible;
						opacity: 1;
						max-height: 200px;
						transition: all 0.5s linear;
						margin-bottom: 12px;
					}
				}
			}
		}

		.text-us-p {
			font-family: "GeneralSans Light", sans-serif;
			color: $text-light;
			font-size: 21px;
			font-weight: 400;
			line-height: 25.154px;
			letter-spacing: -1px;
			text-align: center;
			max-width: 420px;
			margin: 48px auto 0;
			@include media($custom_1440) {
				font-size: 17px;
				font-weight: 400;
				line-height: 25.154px;
				letter-spacing: -0.4px;
				text-align: center;
				max-width: 420px;
				margin: 37px auto 0;
			}
			@include media($custom_1279) {
				margin: 25px auto 0;
				font-size: 13px;
				font-style: normal;
				font-weight: 400;
				line-height: 16px;
				letter-spacing: -1px;
			}

			@include media($custom_699) {
				font-size: 15px;
				margin-top: 29px;
			}
		}
	}
}
