.masterclass-pricing {
    padding: 0 0 110px;
    background: #eee;
    @include media(lg) {
        padding: 48px 0 68px;
    }

    &.masterclass-pricing-editing-course {
        padding-top: 60px;
    }


    .container {

        .choose-your-plan-btn {
            font-family: 'Helvetica Neue Regular', sans-serif;
            display: block;
            margin: 0 auto 40px;
            width: fit-content;
            border: 1px solid #000;
            color: #000;
            font-size: 18px;
            font-style: normal;
            font-weight: 400;
            line-height: 150%;
            letter-spacing: -0.18px;
            text-transform: uppercase;

            @include media(lg) {
                margin: 0 auto 19px;
            }
        }

        h2 {
            color: #000;

            font-family: 'Helvetica Neue Regular', sans-serif;
            font-size: 41px;
            font-style: normal;
            font-weight: 400;
            line-height: 36.82px;
            letter-spacing: -0.82px;
            text-align: center;

            @include media(lg) {
                font-size: 32px;
                line-height: 36.82px;
                letter-spacing: -0.64px;
            }
        }

        .cards-wrapper {
            position: relative;
            margin-top: 118px;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 24px;
            @include media(lg) {
                margin-top: 52px;
            }

            .blur-overlay {
                position: absolute;
                width: 110%;
                height: 110%;
                left: -5%;
                backdrop-filter: blur(2px);
                z-index: 1;

                @include media(lg) {
                    display: none;
                }
            }

            .card {
                max-width: 384px;
                padding: 24px;
                background: $text-light;
                border-radius: 20px;

                &:nth-child(3) {
                    position: relative;
                    z-index: 2;
                    margin-top: -80px;
                    background: #F00;

                    @include media(lg) {
                        margin-top: 0;
                    }

                    * {
                        color: $text-light;
                    }
                    ul {
                        border-bottom: 1px solid #fff!important;
                    }
                    .btn-card {
                        box-shadow: 0px 12px 32px 0px rgba(255, 29, 137, 0.50);
                    }
                }

                .title {
                    font-family: 'Helvetica Neue Regular', sans-serif;
                    font-size: 32px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 40px;
                    margin-bottom: 12px;
                }

                p {
                    font-family: 'Helvetica Neue Regular', sans-serif;
                    font-size: 22px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: normal;
                }

                ul {
                    margin-top: 20px;
                    border-bottom: 1px solid #A9A9AA;

                    li {
                        list-style: none;
                        display: flex;
                        gap: 8px;
                        margin-bottom: 27px;
                        
                        p {
                            width: 90%;
                            font-family: 'Helvetica Neue Regular', sans-serif;
                            font-size: 18px;
                            font-style: normal;
                            font-weight: 400;
                            line-height: normal;
                        }

                        svg {
                            width: 24px;
                            height: 24px;
                        }
                    }

                }

                .prices-wrapper {
                    width: 100%;
                    margin-bottom: 41px;
                    margin-top: 16px;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;

                    .price {
                        display: block;
                        font-family: 'Helvetica Neue Regular', sans-serif;
                        font-size: 41px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 40px;

                        p {
                            display: inline;
                            font-family: 'Helvetica Neue Regular', sans-serif;
                            font-size: 18px;
                            font-style: normal;
                            font-weight: 400;
                            line-height: 40px;
                        }
                    }

                    .old-price {
                        font-family: 'Helvetica Neue Regular', sans-serif;
                        font-size: 29px;
                        font-style: normal;
                        font-weight: 500;
                        line-height: 40px;
                        text-decoration: line-through;
                    }

                }

                .btn-card {
                    padding-top: 12px;
                    padding-bottom: 12px;
                    color: #fff;
                    display: block;
                    width: fit-content;
                    margin: 0 auto;
                    width: 100%;
                    border-radius: 100px;
                    background: #000;
                    text-align: center;
                    border: none;
                    font-family: 'Helvetica Neue Regular', sans-serif;
                    font-size: 22px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 40px;
                }

                &.not-active {
                    @include media(lg) {
                        display: none;
                    }

                    .btn-card {
                        cursor: not-allowed;
                    }
                }
            }
        }

    }

    &.flash-masterclass-pricing {
        background: #fff;

        .container {

            .cards-wrapper {
                gap: 59px;
                @include media(lg) {
                    flex-direction: column-reverse;
                    gap: 48px;
                }

                .card {

                    .title {
                        color: $text-light;
                    }

                    svg {

                        path {
                            fill: $text-light;
                        }

                    }

                    p {
                        color: $text-light;
                    }
                    
                    span {
                        color: $text-light;
                    }

                    &:nth-child(1) {
                        background: #000;

                        a {
                            background: $text-light;
                            color: #000;
                        }
                    }

                    &:nth-child(2) {
                        background: #F00;
                    }

                    &:nth-child(3) {
                        margin-top: 0;
                    }

                }

            }

        }

    }

}