.money-back-guarantee {
	padding-top: 100px;
	padding-bottom: 94px;
	background: $primary;
	@include media($custom_1440) {
		padding-top: 117px;
		padding-bottom: 83px;
		background: $primary;
	}

	// @include media(lg) {
	// 	margin: 41px 20px 0;
	// 	padding-top: 31px;
	// 	padding-bottom: 31px;
	// 	border-radius: 24px;
	// }
	@include media($custom_1279) {
		padding-top: 72px;
		padding-left: 20px;
		padding-bottom: 58px;
	}

	// @include media($custom_699) {
	// 	padding-bottom: 358px;
	// }

	@include media(lg) {
		margin: 0;
		border-radius: 0;
		padding: 70px 20px;
		margin-top: -3px;
	}

	.container {
		@include media(lg) {
			padding: 0!important;
		}

		.sticky-item {
			@include media(lg) {
				min-height: 470px !important;
			}
			
			a {
				margin-top: 0!important;
			}

		}

		h2 {
			margin-top: 102px;

			@include media(lg) {
				margin-top: 0;
			}
			span {
				color: #151515;
			}

		}
	}

	.money-back-guarantee-container {
		position: relative;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		@include media($custom_1279) {
			padding: 0 16px;
		}

		@include media(lg) {
			align-items: flex-start;
		}

		a {
			text-transform: unset;
			padding: 5px 20px;
			font-family: 'Neue Montreal Regular', sans-serif;
			font-size: 24px;
			font-style: normal;
			font-weight: 400;
			line-height: 24px; /* 100% */
			letter-spacing: -0.84px;

			@include media(lg) {
				margin-right: 0;
				font-size: 15px
			}
		}

		h2 {
			@include h-3;
			font-family: "Neue Montreal Regular", sans-serif !important;
			position: relative;
			z-index: 1;
			max-width: 680px;
			margin-top: 33px;
			color: $text-light;
			font-weight: 400;
			font-size: 50px;
			letter-spacing: -1.5px;
			text-align: center;

			@include media($custom_1440) {
				max-width: 625px;
			}

			@include media(lg) {
				max-width: 90%;
				font-size: 25px;
				line-height: 29.2px;
				max-width: 377px;
				text-transform: uppercase;
				text-align: left;
			}
		}

		.mobile-btn {
			//OBRATI PAZNJU, PITAJ MLADENA
			position: relative;
			z-index: 1;
			display: none;
			margin-top: 298px;
			padding: 1px 15px;
			font-size: 11px;
			margin-left: -13px;

			@include media($custom_699) {
				display: inline-block;
			}

			@include media($custom_500) {
				margin-top: 143px;
				padding: 6px 19px;
				font-size: 15px;
			}
		}

		.radial-background {
			position: absolute;
			bottom: 0;
			right: 20px;
			width: 258px;
			height: 258px;
			border-radius: 370px;
			background: radial-gradient(
				70.71% 70.71% at 50% 50%,
				#fff 0%,
				#f00 70%
			);

			@include media($custom_699) {
				display: none;
			}
		}
	}
}
