.newsletter {
	background: $primary;
	padding-top: 99px;
	padding-bottom: 0;
	@include media($custom_1440) {
		padding-top: 60px;
	}

	// @include media($custom_1279) {
	// 	padding-bottom: 2px;
	// }

	@include media($custom_699) {
		margin: 0 26px 56px;
		border-radius: 15px;
	}

	@include media($custom_500) {
		margin: 7px 20px 92px;
	}

	.newsletter-container {
		display: flex;
		justify-content: flex-start;
		align-items: flex-end;
		gap: 81px;
		@include media($custom_1440) {
			gap: 75px;
		}

		@include media($custom_699) {
			justify-content: center;
			align-items: flex-start;
			flex-direction: column;
		}

		@include media($custom_500) {
			padding: 0 14px;
		}

		.newsletter-copy {
			width: 55%;
			margin-top: 70px;
			margin-bottom: 60px;
			@include media($custom_1279) {
				margin-top: 0;
				margin-bottom: 15px;
			}

			@include media(lg) {
				width: 100%;
				margin-bottom: 0;
			}

			h2 {
				@include h-4;
				font-family: "Clash Display Medium", sans-serif !important;
				text-transform: uppercase;
				color: $text-light;
				max-width: 245px;
				margin-bottom: 93px;
				font-size: 56px!important;
				line-height: 47px!important;

				@include media(lg) {
					margin-bottom: 50px;
				}

				@include media($custom_699) {
					font-size: 34px!important;
					max-width: 351px;
					margin-top: -23px;
					margin-left: 4px;
					line-height: 35px!important;
				}

				@include media($custom_500) {
					font-size: 30px !important;
					max-width: 262px;
					letter-spacing: -0.5px;
					margin-top: -28px;
					line-height: 29px!important;
				}

				span {
					color: #000;
				}
			}

			form {
				display: flex;
				@include media($custom_1279) {
					margin-top: -18px;
					margin-left: 15px;
				}

				@include media(lg) {
					flex-direction: column;
					margin-left: 0;
				}

				input {
					color: $text-light;
					background: transparent;
					padding: 12px 0 17px;
					margin-right: 21px;

					font-size: 14.4px;
					font-style: normal;
					font-weight: 400;
					line-height: normal;
					border: unset;
					border-bottom: 1px solid $text-light;
					outline: none;

					&#freeGuideName {
						width: 100%;
						max-width: 223px;

						@include media($custom_1440) {
							max-width: 200px;
						}
						@include media(lg) {
							max-width: unset;
						}
					}

					&#freeGuideEmail {
						width: 100%;
						max-width: 316px;

						@include media($custom_1440) {
							max-width: 265px;
						} 
						@include media(lg) {
							max-width: unset;
						}
					}

					&::placeholder {
						color: $text-light;

						@include media($custom_1279) {
							font-size: 10px;
						}
					}
				}

				button {
					cursor: pointer;
					text-transform: unset;
					background: transparent;
					color: $text-light;

					@include media($custom_1279) {
						padding: 1px 15px;
						font-size: 11px;
					}

					@include media($custom_699) {
						margin-left: 0;
					}

					@include media($custom_500) {
						margin-left: 0;
						margin-top: 25px;
						padding: 5px 15px;
						font-size: 15px;
					}
				}
			}
		}

		img {
			max-width: 506px;
			@include media($custom_1440) {
				max-width: 450px;
			}

			@include media($custom_1279) {
				margin-right: 112px;
				margin-top: -17px;
				max-width: 300px;
			}

			@include media($custom_699) {
				align-self: flex-end;
				margin-left: 9px;
				margin-right: -27px;
				max-width: 348px;
				margin-top: -7px;
			}

			@include media($custom_500) {
				align-self: unset;
				margin-left: 0;
			}
		}
	}
}
