.our-story {
    padding-top: 119px;
    padding-bottom: 80px;
    background: $primary;

    .our-story-container {

        h2 {
            max-width: 134px;
            margin-bottom: 18px;
            color: $text-light;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 18.196px;
            letter-spacing: -0.2px;
        }

        p {
            @include h-3;
            color: $text-light;
        }

        .our-story-list {
            display: flex;
            justify-content: space-between;
            margin-top: 138px;

            .as-featured-in {
                max-width: 568px;

                p {
                    margin-top: 34px;
                    color: $text-light;
                    font-size: 21px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 25.154px;
                    letter-spacing: -0.5px;
                    text-transform: uppercase;
                }

            }

            .previous-destinations {
                max-width: 546px;

                p {
                    margin-top: 34px;
                    color: $text-light;
                    font-size: 21px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 25.154px;
                    letter-spacing: -0.5px;
                    text-transform: uppercase;
                }

            }

        }

    }

}