.video-n-accordion {
    position: relative;

    .video-holder {
        position: relative;
    }

    .play-btn {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        cursor: pointer;
    }

    .accordion-holder {
        padding: 0 60px 83px;

        .video-n-accordion-container {
            position: relative;
            border-radius: $radius-2;
            background: $primary;
            padding: 40px;
            margin-top: -85px;
            z-index: 2;

            .copy-block {
                display: flex;
                justify-content: space-between;
                gap: 160px;

                .copy-block-text {
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;

                    h2 {
                        @include h-3;
                        font-weight: 500;
                        line-height: 46px;
                        letter-spacing: -0.5px;
                        text-transform: uppercase;
                        color: $text-light;
                        max-width: 518px;

                        span {
                            color: $text-dark;
                        }
                    }

                    p {
                        color: $text-light;
                        font-size: 16px;
                        font-weight: 400;
                        line-height: 18.196px;
                        letter-spacing: -0.2px;
                        max-width: 202px;
                    }

                }

                .copy-block-accordion {

                    .accordion-wrapper {
                        max-width: 554px;

                        .item {
                            padding-top: 12px;
                            margin-bottom: 20px;
                            border-top: 1px solid $text-light;

                            .title {
                                position: relative;
                                color: $text-light;
                                font-size: 21px;
                                font-style: normal;
                                font-weight: 400;
                                line-height: 18.196px;
                                letter-spacing: -0.2px;
                                margin-bottom: 20px;
                                cursor: pointer;
                                transition: .5s;

                                &::after {
                                    content: '+';
                                    position: absolute;
                                    right: 0;
                                }
                            }

                            .content {
                                @include p-1;
                                color: $text-light;
                                opacity: 0;
                                max-height: 0;
                                transition: all .5s, max-height .3s linear;
                            }

                            &.active {
                                .title {
                                    &::after {
                                        content: '-';
                                        position: absolute;
                                        right: 0;
                                    }
                                }

                                .content {
                                    visibility: visible;
                                    opacity: 1;
                                    max-height: 200px;
                                    transition: all .5s linear;
                                }
                            }

                        }

                    }

                    .buttons-wrapper {
                        margin-top: 206px;
                        display: flex;
                        gap: 24px;

                        a {
                            text-transform: unset;
                        }
                    }

                }

            }

        }

    }

}