.video-n-accordion {
	position: relative;
	@include media(lg) {
		margin-top: -2px;
	}

	.video-holder {
		position: relative;
	}

	.play-btn {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		cursor: pointer;
		@include media($custom_1279) {
			width: 167px;
		}
		svg {
			@include media(lg) {
				width: 100%;
				height: 100%;
			}
		}
	}

	.accordion-holder {
		padding: 0 50px 66px;
		// @include media(lg) {
		// 	padding: 0;
		// }

		@include media($custom_1279) {
			padding: 0 35px 51px;
		}

		.video-n-accordion-container {
			position: relative;
			border-radius: $radius-2;
			background: $primary;
			padding: 15px;
			margin-top: -100px;
			z-index: 2;
			@include media($custom_1279) {
				// border-radius: 0;
				margin-top: -72px;
				padding: 41px 20px 0px;
				border-radius: 22px;
			}

			.copy-block {
				display: flex;
				justify-content: space-between;
				gap: 160px;
				// @include media(lg) {
				// 	flex-direction: column;
				// 	gap: 48px;
				// }

				.copy-block-text {
					display: flex;
					flex-direction: column;
					// justify-content: space-between;
					gap: 227px;

					@include media($custom_1279) {
						gap: 125px;
					}

					h2 {
						font-family: "Clash Display Medium", sans-serif;

						font-weight: 500;
						line-height: 43px;
						letter-spacing: -0.5px;
						text-transform: uppercase;
						color: $text-light;
						max-width: 435px;
						font-size: 45px;
						margin-top: 35px;
						margin-left: 20px;

						@include media($custom_1279) {
							line-height: 28px;
							max-width: 456px;
							font-size: 30px;
							margin-top: -5px;
							margin-left: 6px;
						}

						span {
							color: $text-dark;
						}
					}

					p {
						color: $text-light;
						font-size: 14px;
						font-weight: 400;
						line-height: 18.196px;
						letter-spacing: -0.2px;
						max-width: 202px;
						margin-left: 1.5rem;

						@include media($custom_1279) {
							margin-top: 1.8rem;
							margin-left: 6px;
							line-height: 11.2px;
							max-width: 142px;
							font-size: 9px;
							margin-bottom: 1rem;
						}
					}
				}

				.copy-block-accordion {
					.accordion-wrapper {
						max-width: 520px;
						margin-top: 2.5rem;

						@include media($custom_1279) {
							margin-top: 0;
							margin-left: -35px;
						}

						.item {
							padding-top: 12px;
							margin-bottom: 20px;
							border-top: 1px solid $text-light;

							@include media($custom_1279) {
								padding-top: 3px;
								margin-bottom: 10px;
								// margin-bottom: -14px;
							}

							.title {
								position: relative;
								color: $text-light;
								font-size: 21px;
								font-style: normal;
								font-weight: 400;
								line-height: 18.196px;
								letter-spacing: -0.2px;
								margin-bottom: 20px;
								cursor: pointer;
								outline: none;
								transition: 0.5s;
								// @include media(lg) {
								// 	font-size: 30px;
								// 	font-weight: 400;
								// 	line-height: 30px;
								// 	letter-spacing: -0.2px;
								// }
								@include media($custom_1279) {
									font-size: 13px;
								}

								&::after {
									content: "+";
									position: absolute;
									right: 0;
								}
							}

							.content {
								font-family: "GeneralSans Light",
									sans-serif;
								color: $text-light;
								opacity: 0;
								max-height: 0;
								transition: all 0.5s,
									max-height 0.3s linear;
								font-size: 15px;
								line-height: 21px;

								@include media($custom_1279) {
									font-size: 10px;
									line-height: 13px;
									padding-right: 35px;
									margin-top: -15px;
								}
							}

							&.active {
								.title {
									&::after {
										content: "-";
										position: absolute;
										right: 0;
									}
								}

								.content {
									visibility: visible;
									opacity: 1;
									max-height: 200px;
									transition: all 0.5s linear;
								}
							}
						}
					}

					.buttons-wrapper {
						margin-top: 170px;
						margin-bottom: 1.5rem;
						display: flex;
						gap: 36px;

						@include media($custom_1279) {
							margin-top: 128px; // Vidi ovde sta ces

							margin-left: -55px;
						}
						a {
							text-transform: unset;
							font-size: 14px;

							@include media($custom_1279) {
								font-size: 10px;
								padding: 0 15px;
							}
						}
					}
				}
			}
		}
	}
}
