.where-do-you-fit {
	position: relative;
	background: $bg-dark;
	padding-top: 63px;
	padding-bottom: 93px;
	@include media($custom_1440) {
		padding-top: 60px;
		padding-bottom: 83px;
	}
	@include media($custom_1279) {
		margin-top: -22px;
		padding-top: 59px;
		padding-bottom: 51px;
		padding-left: 10px;
		padding-right: 10px;
	}

	@include media($custom_699) {
		padding-bottom: 64px;
	}

	@include media($custom_500) {
		margin-top: -5px;
		padding-bottom: 77px;
	}

	.radial-background-1 {
		width: 806px;
		height: 806px;
		position: absolute;
		top: -30%;
		right: -200px;
		border-radius: 370px;
		background: radial-gradient(
			70.71% 70.71% at 50% 50%,
			rgba(255, 0, 0, 0.5) 0%,
			rgba(255, 89, 0, 0) 70%
		);
		@include media($custom_699) {
			display: none;
		}
	}

	.radial-background-2 {
		width: 806px;
		height: 806px;
		position: absolute;
		top: 10%;
		left: -550px;
		border-radius: 370px;
		background: radial-gradient(
			70.71% 70.71% at 50% 50%,
			rgba(255, 0, 0, 0.5) 0%,
			rgba(255, 89, 0, 0) 70%
		);
		@include media($custom_699) {
			display: none;
		}
	}

	.where-do-you-fit-container {
		display: flex;
		justify-content: center;
		gap: 143px;

		@include media(lg) {
			flex-direction: column;
			gap: 40px;
		}

		@include media($custom_699) {
			padding: 0 11px;
		}

		@include media($custom_500) {
			padding: 0 7px;
		}
		.copy-form {

			.subtitle {
				padding-top: 25px;

				font-family: "GeneralSans Medium", sans-serif;
				color: $text-light;

				font-size: 16px;
				font-weight: 400;
				line-height: 18.196px;
				letter-spacing: -0.2px;
				margin-bottom: 25px;

				@include media($custom_1440) {
					font-size: 14px;
					font-weight: 400;
					line-height: 18.196px;
					letter-spacing: -0.2px;
					margin-bottom: 25px;
					margin-left: -5px;
					margin-top: -2px;
				}
				@include media($custom_1279) {
					font-size: 10px;
					font-style: normal;
					font-weight: 500;
					line-height: 1px;
					margin-bottom: 27px;
					margin-left: 5px;
					margin-right: 5px;
					margin-top: -6px;
				}

				@include media($custom_699) {
					line-height: 100%;
					margin-bottom: 13px;
					font-size: 12px;
					text-transform: uppercase;
					margin-top: -3px;
				}

				@include media($custom_500) {
					margin-left: 0;
					font-size: 13px;
				}
			}

			h2 {
				@include h-2;
				font-family: "Clash Display Medium", sans-serif;
				color: $text-light;
				text-transform: uppercase;
				max-width: 960px;
				font-weight: 500;

				@include media($custom_1440) {
					color: $text-light;
					text-transform: uppercase;
					max-width: 570px;
					font-size: 50px;
					margin-top: -2px;
					margin-left: -3px;
					letter-spacing: 1.4px;
				}
				@include media($custom_1279) {
					font-size: 34px;
					max-width: 350px;
					margin-top: -11px;
					margin-left: 6px;
					line-height: 33px;
				}

				@include media($custom_699) {
					font-family: "Neue Montreal", sans-serif;

					text-transform: none;
					font-size: 30.5px;
					font-weight: 400;
					margin-top: 0;
					max-width: 304px;
					letter-spacing: -1px;
					margin-bottom: 25px;
				}

				@include media($custom_500) {
					margin-left: 0;
					margin-top: 0;
					font-size: 30.5px;
					max-width: 280px;
				}

				span {
					display: inline-block;
					&.h-color {
						color: #F00;
						display: inline;
					}
				}
			}

			form {
				margin-top: 244px;
				display: flex;
				flex-direction: column;
				gap: 34px;

				@include media(lg) {
					margin-top: 50px;
				}

				input {
					margin-right: 26px;
                    color: #fff;
                    font-family: 'Helvetica Neue Regular', sans-serif;
                    font-size: 14.4px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: normal;
                    outline: none;
                    background: transparent;
                    padding: 12px 0 17px;
                    border: unset;
                    border-bottom: 1px solid #fff;
                    
                    @include media(lg) {
                        border-bottom: 1px solid rgba(241, 241, 241, 0.35);
                        font-size: 17px;
                    }

					&::placeholder {
                        color: #999;
                        font-family: 'Helvetica Neue Regular', sans-serif;
                        font-size: 14.4px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: normal;

                        @include media(lg) {
                            color: #999;
                            font-size: 17px;
                        }
                    }
				}

				button {
					display: block;
					width: fit-content;
					padding: 16px 33px;
                    border-radius: 100px;
                    border: 1px solid #FFF;
                    background: transparent;
                    cursor: pointer;

                    color: $text-light;

                    text-align: center;
                    font-family: 'Inter Regular', sans-serif;
                    font-size: 12.2px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 12.24px;
                    
                    @include media(lg) {
                        font-family: 'Neue Montreal Regular', sans-serif;
                        font-size: 16.073px;
                        line-height: 16.18px;
                        margin-top: 16px;
                        width: 100%;
                        border: 1px solid rgba(241, 241, 241, 0.25);
                    }
				}
			}
		}

		.images {
			position: relative;
			z-index: 1;

			img {
				width: auto;
				@include media(lg) {
					width: 100%;
				}

				&:nth-child(1) {
					margin-top: 147px;
					@include media(lg) {
						margin-top: 40px;
					}
				}

				&:nth-child(2) {
					transform: translateX(89px);
				    margin-top: 36px;
					@include media(lg) {
						transform: translateX(0);
					}
				}
			}

		}
	}

	.editing-course-sticky-section {
		background: $bg-dark;
	}

	&.flash-where-do-you-fit {
		@include media(lg) {
			padding-left: 0;
			padding-right: 0;
			padding-bottom: 35px;
		}

		.editing-course-sticky-section {
			.sticky-item-one {
				h2 {
					max-width: 1070px!important;
				}
				p {
					margin-top: 220px!important;
				}
			}
		}
	}
}
