.where-do-you-fit {
	position: relative;
	background: $bg-dark;
	padding-top: 60px;
	padding-bottom: 83px;
	@include media($custom_1279) {
		margin-top: -22px;
		padding-top: 59px;
		padding-bottom: 51px;
		padding-left: 10px;
		padding-right: 10px;
	}

	@include media($custom_699) {
		padding-bottom: 64px;
	}

	.radial-background-1 {
		width: 806px;
		height: 806px;
		position: absolute;
		top: -30%;
		right: -200px;
		border-radius: 370px;
		background: radial-gradient(
			70.71% 70.71% at 50% 50%,
			rgba(255, 0, 0, 0.5) 0%,
			rgba(255, 89, 0, 0) 70%
		);
		@include media($custom_699) {
			display: none;
		}
	}

	.radial-background-2 {
		width: 806px;
		height: 806px;
		position: absolute;
		top: 10%;
		left: -550px;
		border-radius: 370px;
		background: radial-gradient(
			70.71% 70.71% at 50% 50%,
			rgba(255, 0, 0, 0.5) 0%,
			rgba(255, 89, 0, 0) 70%
		);
		@include media($custom_699) {
			display: none;
		}
	}

	.where-do-you-fit-container {
		@include media($custom_699) {
			padding: 0 11px;
		}
		.subtitle {
			padding-top: 25px;
			border-top: 1px solid #d9d9d9;

			font-family: "GeneralSans Regular", sans-serif;
			color: $text-light;

			font-size: 14px;
			font-weight: 400;
			line-height: 18.196px;
			letter-spacing: -0.2px;
			margin-bottom: 25px;
			margin-left: -5px;
			margin-top: -2px;
			@include media($custom_1279) {
				font-family: "Clash Display Regular", sans-serif;
				font-size: 10px;
				font-style: normal;
				font-weight: 500;
				line-height: 1px;
				margin-bottom: 27px;
				margin-left: 5px;
				margin-right: 5px;
				margin-top: -6px;
			}

			@include media($custom_699) {
				font-size: 12px;
				text-transform: uppercase;
				margin-top: -3px;
			}
		}

		h2 {
			font-family: "Clash Display Medium", sans-serif;
			font-weight: 500;

			color: $text-light;
			text-transform: uppercase;
			max-width: 500px;
			font-size: 50px;
			margin-top: -2px;
			margin-left: -3px;
			letter-spacing: 1.4px;
			@include media($custom_1279) {
				font-family: "Clash Display Medium", sans-serif;
				font-weight: bold;
				font-size: 34px;
				max-width: 350px;
				margin-top: -11px;
				margin-left: 6px;
				line-height: 33px;
			}

			@include media($custom_699) {
				text-transform: none;
				font-size: 25px;
				font-weight: 500;
				margin-top: -5px;
			}
		}

		.courses-wrapper {
			position: relative;
			margin-top: 170px;
			display: flex;
			gap: 112px;
			@include media($custom_1279) {
				margin-top: 105px;
				gap: 67px;
			}

			@include media($custom_699) {
				flex-direction: column;
				align-items: center;
				gap: 17px;
			}

			.course-separator {
				width: 1px;
				height: auto;
				background: #d9d9d9;
			}

			.course {
				max-width: 390px;

				@include media($custom_699) {
					background-color: $text-light;
					max-width: 100%;
					padding: 0 113px;
					border-radius: 15px;
				}

				h3 {
					// @include h-4;
					font-family: "Clash Display Medium", sans-serif;
					font-weight: 500;

					color: $text-light;
					font-size: 36px;
					line-height: 35px;
					text-transform: uppercase;
					max-width: 315px;

					@include media($custom_1279) {
						font-size: 25px;
						max-width: 200px;
						line-height: 28px;
						margin-left: 3px;
					}
					@include media($custom_699) {
						color: red;
						margin: 75px 0 191px -91px;
						font-size: 42px;
						line-height: 39px;
					}
				}

				p {
					font-family: "GeneralSans Regular", sans-serif;
					font-weight: 400;
					font-size: 14px;
					color: #bebebe;
					margin-top: 32px;
					margin-bottom: 28px;
					margin-left: -5px;
					max-width: 450px;

					@include media($custom_1279) {
						font-size: 10px;
						max-width: 278px;
						line-height: 16px;
						margin-top: 20px;
						margin-left: 3px;
					}
					@include media($custom_699) {
						margin-left: -96px;
						max-width: 318px;
						line-height: 20px;
						font-size: 12px;
					}
				}

				.buttons-wrapper {
					display: flex;
					gap: 37px;
					margin-top: -5px;

					@include media($custom_1279) {
						gap: 19px;
						margin-top: -13px;
					}

					@include media($custom_699) {
						margin-bottom: 34px;
						margin-top: -21px;
						gap: 31px;
						margin-left: -93px;
					}

					a {
						text-transform: unset;
						padding: 2px 18px;
						font-size: 14px;
						margin-right: -7px;

						@include media($custom_1279) {
							font-size: 10px;
							padding: 1px 16px;
						}

						@include media($custom_699) {
							padding: 2px 25px;
							font-size: 12px;
						}

						&:nth-child(1) {
							@include media($custom_699) {
								border: 1px solid $text-dark;
								color: $text-dark;
							}
						}

						&:nth-child(2) {
							background: $primary;
							color: $text-light;
							border: 1px solid $primary;
						}
					}
				}
				&:last-child {
					@include media($custom_699) {
						background-color: #f00;
					}
					h3 {
						max-width: 280px;
						@include media($custom_699) {
							max-width: 315px;
							color: $text-light;
						}
					}

					.buttons-wrapper {
						a {
							&:nth-child(1) {
								@include media($custom_699) {
									border: 1px solid $text-light;
									color: $text-light;
								}
							}

							&:nth-child(2) {
								background: $text-light;
								color: $text-dark;
								border: 1px solid $primary;
							}
						}
					}
				}
			}
		}
	}
}
