* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

@keyframes slideText {
  0% {
    transform: translateX(0); }
  100% {
    transform: translateX(-100%); } }
html {
  scroll-behavior: smooth; }

body {
  color: #0D0D17;
  overflow-x: hidden; }

.container {
  padding: 0 60px; }
  @media (max-width: 1440px) {
    .container {
      padding: 0 56px; } }
  @media (max-width: 992px) {
    .container {
      padding: 0 20px; } }

img {
  width: 100%;
  height: auto; }

.btn {
  font-size: 17px;
  font-weight: 400;
  line-height: 25.2px;
  letter-spacing: -0.36px;
  padding: 5px 21px;
  border-radius: 40px;
  border: 1px solid #FFFFFF;
  text-decoration: none;
  text-transform: uppercase; }
  @media (max-width: 1280px) {
    .btn {
      font-size: 16px;
      line-height: 23px; } }
  @media (max-width: 375px) {
    .btn {
      font-size: 14px;
      line-height: 20px; } }
  .btn.semi-bold {
    font-weight: 600; }

.btn-primary {
  color: #FFFFFF; }

.btn-secondary {
  background: #FFFFFF;
  color: #0D0D17; }

.sliding-text-container {
  width: 100%;
  overflow: hidden; }
  .sliding-text-container .sliding-text {
    font-size: 200px;
    line-height: 175.5px;
    font-weight: 500;
    letter-spacing: -5px;
    text-transform: uppercase;
    white-space: pre;
    animation: slideText 30s linear infinite; }
    @media (max-width: 375px) {
      .sliding-text-container .sliding-text {
        font-size: 180px;
        letter-spacing: -4.5px; } }

body {
  font-family: "Montserrat", sans-serif; }

h1 {
  font-size: 200px;
  line-height: 175.5px;
  font-weight: 500;
  letter-spacing: -5px; }
  @media (max-width: 375px) {
    h1 {
      font-size: 180px;
      letter-spacing: -4.5px; } }

h2 {
  font-size: 60px;
  line-height: 53px;
  font-weight: 500;
  letter-spacing: -0.6px; }
  @media (max-width: 1440px) {
    h2 {
      font-size: 50px;
      line-height: 45px; } }
  @media (max-width: 1280px) {
    h2 {
      font-size: 40px;
      line-height: 36px; } }
  @media (max-width: 375px) {
    h2 {
      font-size: 30px;
      line-height: 28px; } }

h3 {
  font-size: 50px;
  font-weight: 400;
  line-height: 50.654px;
  letter-spacing: -1.5px; }
  @media (max-width: 1440px) {
    h3 {
      font-size: 45px;
      line-height: 45px;
      letter-spacing: -1px; } }
  @media (max-width: 1280px) {
    h3 {
      font-size: 36px;
      line-height: 36px;
      letter-spacing: -0.6; } }
  @media (max-width: 375px) {
    h3 {
      font-size: 30px;
      line-height: 29.154px;
      letter-spacing: -0.6px; } }

h4 {
  font-size: 40px;
  font-weight: 500;
  line-height: 44.654px; }
  @media (max-width: 1440px) {
    h4 {
      font-size: 36px;
      line-height: 36px; } }
  @media (max-width: 1280px) {
    h4 {
      font-size: 32px;
      line-height: 32px; } }
  @media (max-width: 375px) {
    h4 {
      font-size: 30px;
      line-height: 29.154px; } }

div,
p {
  font-size: 18px;
  font-weight: 400;
  line-height: 20.696px;
  letter-spacing: -0.2px; }
  @media (max-width: 1440px) {
    div,
    p {
      font-size: 16px;
      line-height: 24px;
      /* 150% */
      letter-spacing: -0.176px; } }
  @media (max-width: 1280px) {
    div,
    p {
      font-size: 17px; } }
  @media (max-width: 375px) {
    div,
    p {
      font-size: 16px;
      line-height: 19px;
      letter-spacing: -0.176px; } }

.p-1 {
  font-size: 18px;
  font-weight: 400;
  line-height: 20.696px;
  letter-spacing: -0.2px; }
  @media (max-width: 1440px) {
    .p-1 {
      letter-spacing: -0.176px; } }
  @media (max-width: 1280px) {
    .p-1 {
      font-size: 17px; } }
  @media (max-width: 375px) {
    .p-1 {
      font-size: 16px;
      line-height: 19px;
      letter-spacing: -0.176px; } }
  .p-1.semi-bold {
    font-weight: 600; }

.p-2 {
  font-size: 17px;
  font-weight: 400;
  line-height: 25.2px;
  letter-spacing: -0.36px; }
  @media (max-width: 1280px) {
    .p-2 {
      font-size: 16px;
      line-height: 23px; } }
  @media (max-width: 375px) {
    .p-2 {
      font-size: 14px;
      line-height: 20px; } }
  .p-2.semi-bold {
    font-weight: 600; }

header {
  position: fixed;
  width: 100%;
  padding: 31px 60px 20px; }
  header .header-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center; }
    header .header-wrapper .header-navigation .btn-header-menu {
      margin-left: 20px; }

#colophon {
  padding-top: 100px;
  padding-bottom: 30px; }
  #colophon .container .sliding-text-navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px; }
    #colophon .container .sliding-text-navigation p {
      max-width: 203px;
      font-size: 17px;
      font-weight: 500;
      line-height: 18px;
      letter-spacing: -0.085px;
      text-transform: uppercase;
      color: #0D0D17; }
      #colophon .container .sliding-text-navigation p:nth-child(2) {
        max-width: 155px;
        text-align: right; }
  #colophon .container .instagram-posts-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 33px;
    margin: 67px 0; }
    #colophon .container .instagram-posts-wrapper .post-item img {
      width: 100%;
      object-fit: cover; }
  #colophon .container .footer-navigation .main-navigation {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #000;
    padding-bottom: 15px; }
    #colophon .container .footer-navigation .main-navigation #menu-footer-menu {
      display: flex;
      align-items: center;
      gap: 30px; }
      #colophon .container .footer-navigation .main-navigation #menu-footer-menu li {
        list-style: none; }
        #colophon .container .footer-navigation .main-navigation #menu-footer-menu li a {
          text-decoration: none;
          font-size: 24px;
          font-weight: 400;
          line-height: 24px;
          letter-spacing: -0.48px;
          color: #000; }
    #colophon .container .footer-navigation .main-navigation .footer-search {
      display: flex;
      align-items: center; }
      #colophon .container .footer-navigation .main-navigation .footer-search input {
        border: none;
        outline: none;
        color: #000;
        font-size: 24px;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: -0.48px; }
        #colophon .container .footer-navigation .main-navigation .footer-search input::placeholder {
          color: #000;
          font-size: 24px;
          font-weight: 400;
          line-height: 24px;
          letter-spacing: -0.48px; }
        #colophon .container .footer-navigation .main-navigation .footer-search input::-webkit-input-placeholder {
          color: #000;
          font-size: 24px;
          font-weight: 400;
          line-height: 24px;
          letter-spacing: -0.48px; }
        #colophon .container .footer-navigation .main-navigation .footer-search input::-ms-input-placeholder {
          color: #000;
          font-size: 24px;
          font-weight: 400;
          line-height: 24px;
          letter-spacing: -0.48px; }
        #colophon .container .footer-navigation .main-navigation .footer-search input:-ms-input-placeholder {
          color: #000;
          font-size: 24px;
          font-weight: 400;
          line-height: 24px;
          letter-spacing: -0.48px; }
  #colophon .container .footer-navigation .bottom-navigation {
    padding-top: 52px;
    display: flex;
    justify-content: space-between; }
    #colophon .container .footer-navigation .bottom-navigation .shortcut-links {
      display: flex;
      gap: 100px;
      flex-wrap: wrap; }
      #colophon .container .footer-navigation .bottom-navigation .shortcut-links ul li {
        list-style: none; }
        #colophon .container .footer-navigation .bottom-navigation .shortcut-links ul li a {
          text-decoration: none;
          color: #616161;
          font-size: 14px;
          font-style: normal;
          font-weight: 400;
          line-height: 24px; }
    #colophon .container .footer-navigation .bottom-navigation .notices {
      max-width: 213px; }
      #colophon .container .footer-navigation .bottom-navigation .notices p {
        color: #616161;
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: 18px; }
      #colophon .container .footer-navigation .bottom-navigation .notices .social-media-links {
        margin-top: 45px;
        margin-bottom: 16px; }
        #colophon .container .footer-navigation .bottom-navigation .notices .social-media-links a img {
          width: auto; }
      #colophon .container .footer-navigation .bottom-navigation .notices .privacy a {
        text-decoration: none;
        color: #616161;
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: 14px; }

.homepage-hero {
  padding-top: 65px;
  padding-bottom: 54px;
  background-color: #FF0000;
  background: url("/wp-content/uploads/2023/10/hero-background-image.png");
  background-size: cover;
  background-repeat: no-repeat; }
  .homepage-hero .sliding-text-container p {
    color: #FFFFFF; }
  .homepage-hero .homepage-hero-container .sliding-text-navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px; }
    .homepage-hero .homepage-hero-container .sliding-text-navigation p {
      max-width: 203px;
      font-size: 17px;
      font-weight: 500;
      line-height: 18px;
      letter-spacing: -0.085px;
      text-transform: uppercase;
      color: #FFFFFF; }
      .homepage-hero .homepage-hero-container .sliding-text-navigation p:nth-child(2) {
        max-width: 155px;
        text-align: right; }
  .homepage-hero .homepage-hero-container .hero-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 200px; }
    .homepage-hero .homepage-hero-container .hero-content .hero-copy h2 {
      font-size: 60px;
      line-height: 53px;
      font-weight: 500;
      letter-spacing: -0.6px;
      color: #FFFFFF;
      margin-bottom: 33px;
      max-width: 427px; }
      @media (max-width: 1440px) {
        .homepage-hero .homepage-hero-container .hero-content .hero-copy h2 {
          font-size: 50px;
          line-height: 45px; } }
      @media (max-width: 1280px) {
        .homepage-hero .homepage-hero-container .hero-content .hero-copy h2 {
          font-size: 40px;
          line-height: 36px; } }
      @media (max-width: 375px) {
        .homepage-hero .homepage-hero-container .hero-content .hero-copy h2 {
          font-size: 30px;
          line-height: 28px; } }

.they-talk-about-us {
  background: #151515;
  padding-top: 58px;
  padding-bottom: 73px; }
  .they-talk-about-us h2 {
    font-size: 18px;
    font-weight: 400;
    line-height: 20.696px;
    letter-spacing: -0.2px;
    color: #FCFCFC;
    text-align: center; }
    @media (max-width: 1440px) {
      .they-talk-about-us h2 {
        letter-spacing: -0.176px; } }
    @media (max-width: 1280px) {
      .they-talk-about-us h2 {
        font-size: 17px; } }
    @media (max-width: 375px) {
      .they-talk-about-us h2 {
        font-size: 16px;
        line-height: 19px;
        letter-spacing: -0.176px; } }
    .they-talk-about-us h2.semi-bold {
      font-weight: 600; }
  .they-talk-about-us .brand-logos-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 104px;
    margin-top: 40px; }
    .they-talk-about-us .brand-logos-wrapper img {
      width: auto; }

.about-reflections-homepage .dream-outcome {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  gap: 47px; }
  .about-reflections-homepage .dream-outcome .copy-block {
    padding-bottom: 73px; }
    .about-reflections-homepage .dream-outcome .copy-block .p-above-title {
      max-width: 126px;
      color: #000;
      font-size: 16px;
      font-weight: 400;
      line-height: 18.196px;
      letter-spacing: -0.2px;
      margin-bottom: 37px; }
    .about-reflections-homepage .dream-outcome .copy-block h2 {
      font-size: 60px;
      line-height: 53px;
      font-weight: 500;
      letter-spacing: -0.6px;
      color: #0D0D17;
      text-transform: uppercase;
      max-width: 553px; }
      @media (max-width: 1440px) {
        .about-reflections-homepage .dream-outcome .copy-block h2 {
          font-size: 50px;
          line-height: 45px; } }
      @media (max-width: 1280px) {
        .about-reflections-homepage .dream-outcome .copy-block h2 {
          font-size: 40px;
          line-height: 36px; } }
      @media (max-width: 375px) {
        .about-reflections-homepage .dream-outcome .copy-block h2 {
          font-size: 30px;
          line-height: 28px; } }
      .about-reflections-homepage .dream-outcome .copy-block h2 span {
        color: #FF0000; }
    .about-reflections-homepage .dream-outcome .copy-block p {
      font-size: 18px;
      font-weight: 400;
      line-height: 20.696px;
      letter-spacing: -0.2px;
      margin-top: 17px;
      margin-bottom: 47px;
      max-width: 447px; }
      @media (max-width: 1440px) {
        .about-reflections-homepage .dream-outcome .copy-block p {
          letter-spacing: -0.176px; } }
      @media (max-width: 1280px) {
        .about-reflections-homepage .dream-outcome .copy-block p {
          font-size: 17px; } }
      @media (max-width: 375px) {
        .about-reflections-homepage .dream-outcome .copy-block p {
          font-size: 16px;
          line-height: 19px;
          letter-spacing: -0.176px; } }
      .about-reflections-homepage .dream-outcome .copy-block p.semi-bold {
        font-weight: 600; }
    .about-reflections-homepage .dream-outcome .copy-block a {
      text-transform: unset; }
      .about-reflections-homepage .dream-outcome .copy-block a.dream-outcome-btn-light {
        border: 1px solid #000;
        color: #000; }
      .about-reflections-homepage .dream-outcome .copy-block a.dream-outcome-btn-dark {
        background: #000;
        border: 1px solid #000;
        color: #FCFCFC;
        margin-left: 25px; }
  .about-reflections-homepage .dream-outcome .image-block {
    width: 50%; }
    .about-reflections-homepage .dream-outcome .image-block img {
      filter: grayscale(1); }
.about-reflections-homepage .decade-of-building {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: flex-end;
  gap: 47px;
  margin-top: -5px; }
  .about-reflections-homepage .decade-of-building .copy-block {
    padding-bottom: 73px; }
    .about-reflections-homepage .decade-of-building .copy-block h2 {
      font-size: 60px;
      line-height: 53px;
      font-weight: 500;
      letter-spacing: -0.6px;
      color: #0D0D17;
      text-transform: uppercase;
      max-width: 599px; }
      @media (max-width: 1440px) {
        .about-reflections-homepage .decade-of-building .copy-block h2 {
          font-size: 50px;
          line-height: 45px; } }
      @media (max-width: 1280px) {
        .about-reflections-homepage .decade-of-building .copy-block h2 {
          font-size: 40px;
          line-height: 36px; } }
      @media (max-width: 375px) {
        .about-reflections-homepage .decade-of-building .copy-block h2 {
          font-size: 30px;
          line-height: 28px; } }
      .about-reflections-homepage .decade-of-building .copy-block h2 span {
        color: #FF0000; }
    .about-reflections-homepage .decade-of-building .copy-block p {
      font-size: 18px;
      font-weight: 400;
      line-height: 20.696px;
      letter-spacing: -0.2px;
      margin-top: 17px;
      margin-bottom: 47px;
      max-width: 487px; }
      @media (max-width: 1440px) {
        .about-reflections-homepage .decade-of-building .copy-block p {
          letter-spacing: -0.176px; } }
      @media (max-width: 1280px) {
        .about-reflections-homepage .decade-of-building .copy-block p {
          font-size: 17px; } }
      @media (max-width: 375px) {
        .about-reflections-homepage .decade-of-building .copy-block p {
          font-size: 16px;
          line-height: 19px;
          letter-spacing: -0.176px; } }
      .about-reflections-homepage .decade-of-building .copy-block p.semi-bold {
        font-weight: 600; }
    .about-reflections-homepage .decade-of-building .copy-block a {
      text-transform: unset; }
      .about-reflections-homepage .decade-of-building .copy-block a.dream-outcome-btn-dark {
        background: #000;
        border: 1px solid #000;
        color: #FCFCFC; }
  .about-reflections-homepage .decade-of-building .image-block {
    width: 50%; }

.money-back-guarantee {
  padding-top: 100px;
  padding-bottom: 94px;
  background: #FF0000; }
  .money-back-guarantee .money-back-guarantee-container a {
    text-transform: unset; }
  .money-back-guarantee .money-back-guarantee-container h2 {
    font-size: 50px;
    font-weight: 400;
    line-height: 50.654px;
    letter-spacing: -1.5px;
    max-width: 538px;
    margin-top: 33px;
    color: #FFFFFF; }
    @media (max-width: 1440px) {
      .money-back-guarantee .money-back-guarantee-container h2 {
        font-size: 45px;
        line-height: 45px;
        letter-spacing: -1px; } }
    @media (max-width: 1280px) {
      .money-back-guarantee .money-back-guarantee-container h2 {
        font-size: 36px;
        line-height: 36px;
        letter-spacing: -0.6; } }
    @media (max-width: 375px) {
      .money-back-guarantee .money-back-guarantee-container h2 {
        font-size: 30px;
        line-height: 29.154px;
        letter-spacing: -0.6px; } }

/*# sourceMappingURL=theme.css.map */
