* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

@keyframes slideText {
  0% {
    transform: translateX(0); }
  100% {
    transform: translateX(-100%); } }
html {
  scroll-behavior: smooth;
  overflow-x: hidden; }

body {
  color: #0d0d17;
  overflow-x: hidden; }

.container {
  padding: 0 60px; }
  @media (max-width: 1440px) {
    .container {
      padding: 0 56px; } }
  @media (max-width: 992px) {
    .container {
      padding: 0 20px; } }

img {
  width: 100%;
  height: auto; }

p {
  font-family: "GeneralSans Regular", sans-serif; }

.btn {
  font-family: "GeneralSans Regular", sans-serif;
  font-size: 17px;
  font-weight: 400;
  line-height: 25.2px;
  letter-spacing: -0.36px;
  padding: 5px 21px;
  border-radius: 40px;
  border: 1px solid #ffffff;
  text-decoration: none; }
  @media (max-width: 1280px) {
    .btn {
      font-size: 16px;
      line-height: 23px; } }
  @media (max-width: 375px) {
    .btn {
      font-size: 14px;
      line-height: 20px; } }
  .btn.semi-bold {
    font-weight: 600; }
  @media (max-width: 768px) {
    .btn {
      padding: 5px 15px; } }

.btn-primary {
  color: #ffffff;
  margin-right: -0.8rem;
  padding: 5px 17px; }

.btn-secondary {
  background: #ffffff;
  color: #0d0d17;
  padding: 5px 15px; }

.sliding-text-container {
  width: 100%;
  overflow: hidden; }
  .sliding-text-container .sliding-text {
    font-family: "Clash Display Medium", sans-serif;
    font-size: 200px;
    line-height: 175.5px;
    font-weight: 500;
    letter-spacing: -5px;
    font-family: "Clash Display Medium", sans-serif;
    text-transform: uppercase;
    white-space: pre;
    animation: slideText 30s linear infinite;
    font-size: 11rem;
    margin-top: -1rem; }
    @media (max-width: 375px) {
      .sliding-text-container .sliding-text {
        font-size: 180px;
        letter-spacing: -4.5px; } }

.hide-desktop {
  display: none; }
  @media (max-width: 992px) {
    .hide-desktop {
      display: block; } }

.hide-mobile {
  margin-top: -0.4rem;
  margin-left: -0.2rem; }
  @media (max-width: 992px) {
    .hide-mobile {
      display: none; } }

.sliding-text {
  margin-top: -1.7rem;
  font-size: 100px; }

.arrow-up {
  width: 20px;
  height: 20px;
  background-color: white;
  display: inline-block; }

@font-face {
  font-family: "Clash Display Variable";
  src: url("../fonts/ClashDisplay-Variable.woff"); }
@font-face {
  font-family: "Clash Display Medium";
  src: url("../fonts/ClashDisplay-Medium.woff"); }
@font-face {
  font-family: "Clash Display Bold";
  src: url("../fonts/ClashDisplay-Bold.woff"); }
@font-face {
  font-family: "Clash Display Regular";
  src: url("../fonts/ClashDisplay-Regular.woff"); }
@font-face {
  font-family: 'Neue Montreal Regular';
  src: url("../fonts/GeneralSans-Regular.otf"); }
@font-face {
  font-family: 'Neue Montreal Medium';
  src: url("../fonts/NeueMontreal-Medium.otf"); }
@font-face {
  font-family: 'Neue Montreal Light';
  src: url("../fonts/NeueMontreal-Light.otf"); }
@font-face {
  font-family: 'Neue Montreal Bold';
  src: url("../fonts/NeueMontreal-Bold.otf"); }
@font-face {
  font-family: 'Neue Montreal Regular';
  src: url("../fonts/NeueMontreal-Regular.otf"); }
@font-face {
  font-family: 'GeneralSans Light';
  src: url("../fonts/GeneralSans-Light.woff"); }
@font-face {
  font-family: 'GeneralSans Regular';
  src: url("../fonts/GeneralSans-Regular.woff"); }
@font-face {
  font-family: 'GeneralSans Medium';
  src: url("../fonts/GeneralSans-Medium.otf"); }
body {
  font-family: "Montserrat", sans-serif; }

h1 {
  font-family: "Clash Display Medium", sans-serif;
  font-size: 200px;
  line-height: 175.5px;
  font-weight: 500;
  letter-spacing: -5px; }
  @media (max-width: 375px) {
    h1 {
      font-size: 180px;
      letter-spacing: -4.5px; } }

h2 {
  font-family: "Clash Display Medium", sans-serif;
  font-size: 60px;
  line-height: 53px;
  font-weight: 500;
  letter-spacing: -0.6px; }
  @media (max-width: 1280px) {
    h2 {
      font-size: 40px;
      line-height: 36px; } }
  @media (max-width: 1440px) {
    h2 {
      font-size: 50px;
      line-height: 45px; } }
  @media (max-width: 375px) {
    h2 {
      font-size: 30px;
      line-height: 28px; } }

h3 {
  font-family: "Clash Display Medium", sans-serif;
  font-size: 50px;
  font-weight: 400;
  line-height: 50.654px;
  letter-spacing: -1.5px; }
  @media (max-width: 1440px) {
    h3 {
      font-size: 45px;
      line-height: 45px;
      letter-spacing: -1px; } }
  @media (max-width: 1280px) {
    h3 {
      font-size: 36px;
      line-height: 36px;
      letter-spacing: -0.6; } }
  @media (max-width: 375px) {
    h3 {
      font-size: 30px;
      line-height: 29.154px;
      letter-spacing: -0.6px; } }

h4 {
  font-family: "Clash Display Medium", sans-serif;
  font-size: 40px;
  font-weight: 500;
  line-height: 44.654px; }
  @media (max-width: 1440px) {
    h4 {
      font-size: 36px;
      line-height: 36px; } }
  @media (max-width: 1280px) {
    h4 {
      font-size: 32px;
      line-height: 32px; } }
  @media (max-width: 375px) {
    h4 {
      font-size: 30px;
      line-height: 29.154px; } }

div,
p {
  font-size: 18px;
  font-weight: 400;
  line-height: 20.696px;
  letter-spacing: -0.2px; }
  @media (max-width: 1440px) {
    div,
    p {
      font-size: 16px;
      line-height: 24px;
      /* 150% */
      letter-spacing: -0.176px; } }
  @media (max-width: 1280px) {
    div,
    p {
      font-size: 17px; } }
  @media (max-width: 375px) {
    div,
    p {
      font-size: 16px;
      line-height: 19px;
      letter-spacing: -0.176px; } }

.p-1 {
  font-family: "GeneralSans Regular", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 20.696px;
  letter-spacing: -0.2px; }
  @media (max-width: 1440px) {
    .p-1 {
      letter-spacing: -0.176px; } }
  @media (max-width: 1280px) {
    .p-1 {
      font-size: 17px; } }
  @media (max-width: 375px) {
    .p-1 {
      font-size: 16px;
      line-height: 19px;
      letter-spacing: -0.176px; } }
  .p-1.semi-bold {
    font-weight: 600; }

.p-2 {
  font-family: "GeneralSans Regular", sans-serif;
  font-size: 17px;
  font-weight: 400;
  line-height: 25.2px;
  letter-spacing: -0.36px; }
  @media (max-width: 1280px) {
    .p-2 {
      font-size: 16px;
      line-height: 23px; } }
  @media (max-width: 375px) {
    .p-2 {
      font-size: 14px;
      line-height: 20px; } }
  .p-2.semi-bold {
    font-weight: 600; }

header {
  position: fixed;
  width: 100vw;
  padding: 31px 60px 20px;
  z-index: 99; }
  @media (max-width: 992px) {
    header {
      padding: 25px 20px; } }
  header.light a {
    color: #fff !important; }
  header.light .btn-header-menu {
    background: #fff !important;
    color: #0d0d17 !important; }
  header.dark a {
    color: #0d0d17 !important;
    border-color: #0d0d17; }
  header.dark .btn-header-menu {
    background: #0d0d17 !important;
    color: #fff !important;
    border-color: #0d0d17; }
  header .header-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center; }
    header .header-wrapper .reflections-logo a {
      text-transform: uppercase;
      font-family: "Clash Display Regular", sans-serif; }
      @media (max-width: 992px) {
        header .header-wrapper .reflections-logo a {
          padding: 3px 12px;
          font-size: 14px;
          line-height: 20px; } }
    header .header-wrapper .header-navigation {
      margin-right: -3px; }
      header .header-wrapper .header-navigation .btn-header-menu {
        margin-left: 20px; }
        @media (max-width: 992px) {
          header .header-wrapper .header-navigation .btn-header-menu {
            margin-left: 10px; } }
      header .header-wrapper .header-navigation a {
        text-transform: uppercase;
        font-family: "Clash Display Regular", sans-serif; }
        @media (max-width: 992px) {
          header .header-wrapper .header-navigation a {
            padding: 3px 12px;
            font-size: 14px;
            line-height: 20px; } }

#colophon {
  padding-top: 96px;
  padding-bottom: 30px; }
  @media (max-width: 992px) {
    #colophon {
      padding-top: 40px;
      padding-bottom: 41px; } }
  #colophon .container .sliding-text-navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px; }
    @media (max-width: 992px) {
      #colophon .container .sliding-text-navigation {
        display: none; } }
    #colophon .container .sliding-text-navigation p {
      font-family: "Clash Display Medium", sans-serif;
      max-width: 203px;
      font-size: 17px;
      font-weight: 500;
      line-height: 18px;
      letter-spacing: -0.085px;
      text-transform: uppercase;
      color: #ffffff; }
      #colophon .container .sliding-text-navigation p:nth-child(2) {
        max-width: 155px;
        text-align: right; }
    #colophon .container .sliding-text-navigation p {
      color: #0d0d17;
      max-width: 158px;
      font-size: 15px;
      margin-top: -10px;
      margin-right: -3px; }
  #colophon .container .instagram-posts-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 23px;
    margin: 50px 0; }
    @media (max-width: 992px) {
      #colophon .container .instagram-posts-wrapper {
        overflow-x: auto;
        scroll-snap-type: x mandatory; } }
    @media (max-width: 992px) {
      #colophon .container .instagram-posts-wrapper {
        margin: 13px 0 40px; } }
    @media (max-width: 992px) {
      #colophon .container .instagram-posts-wrapper .post-item {
        flex: 0 0 100%;
        scroll-snap-align: start; } }
    #colophon .container .instagram-posts-wrapper .post-item img {
      width: 100%;
      object-fit: cover; }
  #colophon .container .footer-navigation .main-navigation {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #000;
    padding-bottom: 10px; }
    #colophon .container .footer-navigation .main-navigation #menu-footer-menu {
      display: flex;
      align-items: center;
      gap: 30px; }
      @media (max-width: 992px) {
        #colophon .container .footer-navigation .main-navigation #menu-footer-menu {
          display: none; } }
      #colophon .container .footer-navigation .main-navigation #menu-footer-menu li {
        list-style: none; }
        #colophon .container .footer-navigation .main-navigation #menu-footer-menu li a {
          text-decoration: none;
          font-size: 24px;
          font-weight: 400;
          line-height: 24px;
          letter-spacing: -0.48px;
          color: #000; }
    #colophon .container .footer-navigation .main-navigation .footer-search {
      display: flex;
      align-items: center; }
      #colophon .container .footer-navigation .main-navigation .footer-search input {
        border: none;
        outline: none;
        color: #000;
        font-size: 20px;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: -0.48px; }
        #colophon .container .footer-navigation .main-navigation .footer-search input::placeholder {
          color: #000;
          font-size: 20px;
          font-weight: 400;
          line-height: 24px;
          letter-spacing: -0.48px;
          text-align: center; }
        #colophon .container .footer-navigation .main-navigation .footer-search input::-webkit-input-placeholder {
          color: #000;
          font-size: 24px;
          font-weight: 400;
          line-height: 24px;
          letter-spacing: -0.48px; }
        #colophon .container .footer-navigation .main-navigation .footer-search input::-ms-input-placeholder {
          color: #000;
          font-size: 24px;
          font-weight: 400;
          line-height: 24px;
          letter-spacing: -0.48px; }
        #colophon .container .footer-navigation .main-navigation .footer-search input:-ms-input-placeholder {
          color: #000;
          font-size: 24px;
          font-weight: 400;
          line-height: 24px;
          letter-spacing: -0.48px; }
  #colophon .container .footer-navigation .bottom-navigation {
    padding-top: 46px;
    display: flex;
    justify-content: space-between; }
    @media (max-width: 992px) {
      #colophon .container .footer-navigation .bottom-navigation {
        flex-direction: column; } }
    #colophon .container .footer-navigation .bottom-navigation .shortcut-links {
      display: flex;
      gap: 153px;
      flex-wrap: wrap; }
      #colophon .container .footer-navigation .bottom-navigation .shortcut-links ul {
        line-height: 23.5px; }
        #colophon .container .footer-navigation .bottom-navigation .shortcut-links ul li {
          margin: -3px 0;
          list-style: none; }
          #colophon .container .footer-navigation .bottom-navigation .shortcut-links ul li a {
            text-decoration: none;
            color: #616161;
            font-size: 11px;
            font-style: normal;
            font-weight: 400; }
    #colophon .container .footer-navigation .bottom-navigation .notices {
      max-width: 190px; }
      @media (max-width: 992px) {
        #colophon .container .footer-navigation .bottom-navigation .notices {
          max-width: unset;
          width: 100%;
          margin-top: 26px; } }
      #colophon .container .footer-navigation .bottom-navigation .notices p {
        color: #616161;
        font-size: 10px;
        font-style: normal;
        font-weight: 400;
        line-height: 16px; }
      #colophon .container .footer-navigation .bottom-navigation .notices .social-media-links {
        margin-top: 33px;
        margin-bottom: 16px;
        display: flex;
        gap: 9px;
        margin-left: 3px; }
        @media (max-width: 992px) {
          #colophon .container .footer-navigation .bottom-navigation .notices .social-media-links {
            margin-top: 37px; } }
        #colophon .container .footer-navigation .bottom-navigation .notices .social-media-links a img {
          width: auto; }
          @media (max-width: 992px) {
            #colophon .container .footer-navigation .bottom-navigation .notices .social-media-links a img {
              transform: scale(1.5);
              margin-right: 15px; } }
      #colophon .container .footer-navigation .bottom-navigation .notices .privacy {
        margin-top: -16px;
        margin-left: 5px; }
        #colophon .container .footer-navigation .bottom-navigation .notices .privacy a {
          text-decoration: none;
          color: #616161;
          font-size: 9.8px;
          font-style: normal;
          font-weight: 400;
          line-height: 14px;
          max-width: 180px; }

.homepage-hero {
  padding-top: 65px;
  padding-bottom: 44px;
  background-color: #ff0000;
  background: url("/wp-content/uploads/2023/10/hero-background-image.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center; }
  .homepage-hero .sliding-text-container p {
    color: #ffffff; }
  .homepage-hero .homepage-hero-container .sliding-text-navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px; }
    @media (max-width: 992px) {
      .homepage-hero .homepage-hero-container .sliding-text-navigation {
        display: none; } }
    .homepage-hero .homepage-hero-container .sliding-text-navigation p {
      font-family: "Clash Display Medium", sans-serif;
      max-width: 203px;
      font-size: 17px;
      font-weight: 500;
      line-height: 18px;
      letter-spacing: -0.085px;
      text-transform: uppercase;
      color: #ffffff; }
      .homepage-hero .homepage-hero-container .sliding-text-navigation p:nth-child(2) {
        max-width: 155px;
        text-align: right; }
    .homepage-hero .homepage-hero-container .sliding-text-navigation p {
      font-family: "Clash Display Regular", sans-serif; }
  .homepage-hero .homepage-hero-container .hero-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 200px; }
    .homepage-hero .homepage-hero-container .hero-content .hero-copy p {
      max-width: 203px;
      margin-bottom: 15px;
      color: #ffffff;
      font-family: "Clash Display Regular", sans-serif;
      font-size: 14px;
      font-style: normal;
      font-weight: 500;
      line-height: 14px;
      text-transform: uppercase; }
    .homepage-hero .homepage-hero-container .hero-content .hero-copy h2 {
      font-family: "GeneralSans Regular", sans-serif;
      line-height: 46px !important;
      color: #ffffff;
      margin-bottom: 33px;
      margin-top: -2.2rem;
      max-width: 475px;
      font-size: 50px;
      margin-left: -5px; }
      @media (max-width: 1280px) {
        .homepage-hero .homepage-hero-container .hero-content .hero-copy h2 {
          font-size: 42px;
          max-width: 375px; } }
    .homepage-hero .homepage-hero-container .hero-content .hero-copy .btn {
      font-size: 18px;
      letter-spacing: -0.36px;
      display: flex;
      align-items: center;
      width: max-content; }
    .homepage-hero .homepage-hero-container .hero-content .hero-mock {
      width: 375px;
      margin-top: -2rem; }
      @media (max-width: 992px) {
        .homepage-hero .homepage-hero-container .hero-content .hero-mock {
          display: none; } }

.they-talk-about-us {
  background: #151515;
  padding-top: 58px;
  padding-bottom: 70px; }
  @media (max-width: 992px) {
    .they-talk-about-us {
      padding-top: 38px;
      padding-bottom: 38px; } }
  .they-talk-about-us h2 {
    font-family: "GeneralSans Regular", sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 20.696px;
    letter-spacing: -0.2px;
    color: #fcfcfc;
    text-align: center; }
    @media (max-width: 1440px) {
      .they-talk-about-us h2 {
        letter-spacing: -0.176px; } }
    @media (max-width: 1280px) {
      .they-talk-about-us h2 {
        font-size: 17px; } }
    @media (max-width: 375px) {
      .they-talk-about-us h2 {
        font-size: 16px;
        line-height: 19px;
        letter-spacing: -0.176px; } }
    .they-talk-about-us h2.semi-bold {
      font-weight: 600; }
  .they-talk-about-us .brand-logos-wrapper {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 35px; }
    .they-talk-about-us .brand-logos-wrapper img {
      width: auto; }

.about-reflections-homepage .dream-outcome {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  margin-top: 4rem; }
  @media (max-width: 992px) {
    .about-reflections-homepage .dream-outcome {
      flex-direction: column-reverse;
      gap: 40px; } }
  .about-reflections-homepage .dream-outcome .copy-block {
    width: 50%;
    padding-bottom: 80px; }
    @media (max-width: 992px) {
      .about-reflections-homepage .dream-outcome .copy-block {
        padding-bottom: 60px;
        width: 100%; } }
    .about-reflections-homepage .dream-outcome .copy-block .p-above-title {
      max-width: 130px;
      color: #000;
      font-size: 16px;
      font-weight: 400;
      line-height: 18.196px;
      letter-spacing: -0.2px;
      margin-bottom: 37px; }
    .about-reflections-homepage .dream-outcome .copy-block h2 {
      font-family: "Clash Display Medium", sans-serif;
      font-weight: bold;
      color: #0d0d17;
      text-transform: uppercase;
      max-width: 500px;
      font-size: 55px;
      margin-left: -0.2rem;
      letter-spacing: -1px; }
      .about-reflections-homepage .dream-outcome .copy-block h2 span {
        color: #ff0000; }
      @media (max-width: 992px) {
        .about-reflections-homepage .dream-outcome .copy-block h2 {
          font-size: 30px;
          line-height: 28px;
          letter-spacing: -0.6px;
          max-width: 270px; } }
    .about-reflections-homepage .dream-outcome .copy-block p {
      font-family: "GeneralSans Regular", sans-serif;
      font-weight: 400;
      line-height: 17.7px;
      margin-top: 17px;
      margin-bottom: 47px;
      max-width: 400px;
      font-size: 16px; }
      @media (max-width: 992px) {
        .about-reflections-homepage .dream-outcome .copy-block p {
          margin-bottom: 27px; } }
    .about-reflections-homepage .dream-outcome .copy-block a {
      text-transform: unset; }
      .about-reflections-homepage .dream-outcome .copy-block a.dream-outcome-btn-light {
        border: 1px solid #000;
        color: #000;
        font-size: 15px;
        display: inline-block; }
      .about-reflections-homepage .dream-outcome .copy-block a.dream-outcome-btn-dark {
        background: #000;
        border: 1px solid #000;
        color: #fcfcfc;
        margin-left: 25px; }
        @media (max-width: 992px) {
          .about-reflections-homepage .dream-outcome .copy-block a.dream-outcome-btn-dark {
            margin-left: 0; } }
  .about-reflections-homepage .dream-outcome .image-block {
    width: 50%; }
    @media (max-width: 992px) {
      .about-reflections-homepage .dream-outcome .image-block {
        width: 100%; } }
    .about-reflections-homepage .dream-outcome .image-block img {
      filter: grayscale(1);
      max-height: 650px;
      object-fit: cover; }
      @media (max-width: 768px) {
        .about-reflections-homepage .dream-outcome .image-block img {
          height: 300px; } }
.about-reflections-homepage .decade-of-building {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: flex-end;
  margin-top: -12px; }
  @media (max-width: 992px) {
    .about-reflections-homepage .decade-of-building {
      flex-direction: column-reverse;
      margin-top: 0;
      gap: 40px; } }
  .about-reflections-homepage .decade-of-building .copy-block {
    width: 50%;
    padding: 0 56px 70px 57px; }
    @media (max-width: 992px) {
      .about-reflections-homepage .decade-of-building .copy-block {
        padding: 0 20px;
        padding-bottom: 60px;
        width: 100%; } }
    .about-reflections-homepage .decade-of-building .copy-block h2 {
      font-family: "Clash Display Medium", sans-serif;
      font-size: 60px;
      line-height: 53px;
      font-weight: 500;
      letter-spacing: -0.6px;
      color: #0d0d17;
      text-transform: uppercase;
      max-width: 400px;
      font-weight: bold;
      letter-spacing: 1px;
      line-height: 55px; }
      @media (max-width: 1280px) {
        .about-reflections-homepage .decade-of-building .copy-block h2 {
          font-size: 40px;
          line-height: 36px; } }
      @media (max-width: 1440px) {
        .about-reflections-homepage .decade-of-building .copy-block h2 {
          font-size: 50px;
          line-height: 45px; } }
      @media (max-width: 375px) {
        .about-reflections-homepage .decade-of-building .copy-block h2 {
          font-size: 30px;
          line-height: 28px; } }
      .about-reflections-homepage .decade-of-building .copy-block h2 span {
        color: #ff0000; }
      @media (max-width: 992px) {
        .about-reflections-homepage .decade-of-building .copy-block h2 {
          font-size: 30px;
          line-height: 28px;
          letter-spacing: -0.6px; } }
    .about-reflections-homepage .decade-of-building .copy-block p {
      font-family: "GeneralSans Regular", sans-serif;
      margin-top: 17px;
      margin-bottom: 47px;
      max-width: 430px;
      font-size: 16px;
      line-height: 18px; }
      @media (max-width: 992px) {
        .about-reflections-homepage .decade-of-building .copy-block p {
          margin-bottom: 27px; } }
    .about-reflections-homepage .decade-of-building .copy-block a {
      text-transform: unset;
      margin-left: -2px; }
      .about-reflections-homepage .decade-of-building .copy-block a.dream-outcome-btn-dark {
        background: #000;
        border: 1px solid #000;
        color: #fcfcfc;
        display: inline-block;
        margin-top: -10px; }
  .about-reflections-homepage .decade-of-building .image-block {
    width: 50%;
    height: auto;
    display: flex; }
    @media (max-width: 992px) {
      .about-reflections-homepage .decade-of-building .image-block {
        width: 100%; } }
    .about-reflections-homepage .decade-of-building .image-block img {
      object-fit: cover; }
      @media (max-width: 768px) {
        .about-reflections-homepage .decade-of-building .image-block img {
          height: 300px; } }

.our-story {
  padding-top: 119px;
  padding-bottom: 80px;
  background: #ff0000; }
  @media (max-width: 992px) {
    .our-story {
      padding-top: 42px;
      padding-bottom: 47px; } }
  @media (max-width: 992px) {
    .our-story .our-story-container {
      padding: 0; } }
  .our-story .our-story-container h2 {
    font-family: "GeneralSans Regular", sans-serif;
    max-width: 134px;
    margin-bottom: 18px;
    color: #ffffff;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 18.196px;
    letter-spacing: -0.2px;
    margin-top: -1rem; }
    @media (max-width: 992px) {
      .our-story .our-story-container h2 {
        padding: 0 20px; } }
  .our-story .our-story-container p {
    font-family: "GeneralSans Regular", sans-serif;
    color: #ffffff;
    max-width: 990px;
    font-size: 44px;
    letter-spacing: -2.3px;
    line-height: 45px; }
    @media (max-width: 992px) {
      .our-story .our-story-container p {
        padding: 0 20px; } }
  .our-story .our-story-container .our-story-list {
    display: flex;
    justify-content: space-between;
    margin-top: 125px;
    margin-bottom: -13px; }
    @media (max-width: 992px) {
      .our-story .our-story-container .our-story-list {
        margin-top: 70px;
        margin: 70px 0 0 20px;
        overflow-x: auto;
        scroll-snap-type: x mandatory;
        gap: 17px; } }
    .our-story .our-story-container .our-story-list .as-featured-in {
      max-width: 505px; }
      @media (max-width: 992px) {
        .our-story .our-story-container .our-story-list .as-featured-in {
          border-radius: 24px;
          border: 1px solid #fff;
          padding: 24px 18px;
          flex: 0 0 93%;
          scroll-snap-align: start;
          margin-right: -1%; } }
      .our-story .our-story-container .our-story-list .as-featured-in a {
        font-family: "GeneralSans Regular", sans-serif;
        font-size: 19px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: -0.84px;
        padding: 1px 16px; }
      .our-story .our-story-container .our-story-list .as-featured-in p {
        padding: 0;
        margin-top: 20px;
        color: #ffffff;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 25.154px;
        letter-spacing: -0.5px;
        text-transform: uppercase; }
        @media (max-width: 992px) {
          .our-story .our-story-container .our-story-list .as-featured-in p {
            margin-top: 94px; } }
    .our-story .our-story-container .our-story-list .previous-destinations {
      max-width: 505px; }
      @media (max-width: 992px) {
        .our-story .our-story-container .our-story-list .previous-destinations {
          border-radius: 24px;
          border: 1px solid #fff;
          padding: 24px 18px;
          flex: 0 0 93%;
          scroll-snap-align: start; } }
      .our-story .our-story-container .our-story-list .previous-destinations a {
        font-family: "GeneralSans Regular", sans-serif;
        font-size: 19px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: -0.84px;
        padding: 1px 16px; }
      .our-story .our-story-container .our-story-list .previous-destinations p {
        padding: 0;
        margin-top: 20px;
        color: #ffffff;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 25.154px;
        letter-spacing: -0.5px;
        text-transform: uppercase; }
        @media (max-width: 992px) {
          .our-story .our-story-container .our-story-list .previous-destinations p {
            margin-top: 94px; } }

.online-lessons {
  background: #151515;
  padding-top: 150px;
  padding-bottom: 46px; }
  @media (max-width: 992px) {
    .online-lessons .online-lessons-container span {
      color: #fff;
      font-family: "Clash Display Regular", sans-serif;
      font-size: 14px;
      font-style: normal;
      font-weight: 500;
      line-height: 14px;
      text-transform: uppercase; } }
  .online-lessons .online-lessons-container h2 {
    color: #ffffff;
    text-align: center;
    font-size: 142px;
    font-style: normal;
    font-weight: 500;
    line-height: 110px;
    letter-spacing: -1.6px;
    text-transform: uppercase; }
    .online-lessons .online-lessons-container h2 span {
      color: #ff0000; }
    .online-lessons .online-lessons-container h2 .lessons {
      margin-top: -13px;
      margin-left: 10px;
      color: white;
      display: inline-block;
      letter-spacing: -7px;
      display: flex;
      justify-content: center;
      align-items: center; }
    .online-lessons .online-lessons-container h2 img {
      width: auto;
      vertical-align: bottom;
      cursor: pointer;
      transform: scale(0.85);
      margin: 0 -10px 0 -4px; }
    @media (max-width: 992px) {
      .online-lessons .online-lessons-container h2.hide-desktop {
        color: #fff;
        margin-top: 19px;
        font-family: "Clash Display Medium", sans-serif;
        font-size: 45px;
        font-style: normal;
        font-weight: 500;
        line-height: 40px;
        letter-spacing: -0.9px;
        text-transform: uppercase;
        text-align: left; }
        .online-lessons .online-lessons-container h2.hide-desktop span {
          font-family: "Clash Display Medium", sans-serif;
          font-size: 45px;
          font-style: normal;
          font-weight: 500;
          line-height: 40px;
          letter-spacing: -0.9px;
          text-transform: uppercase;
          text-align: left; } }
  .online-lessons .online-lessons-container p {
    max-width: 520px;
    margin: 45px auto 41px;
    color: #ffffff;
    text-align: center;
    font-size: 21px;
    font-style: normal;
    font-weight: 400;
    line-height: 25.196px;
    letter-spacing: -0px; }
    @media (max-width: 992px) {
      .online-lessons .online-lessons-container p {
        margin: 28px auto;
        text-align: left;
        font-size: 30px;
        line-height: 30.5px;
        letter-spacing: -0.6px; } }
  .online-lessons .online-lessons-container .online-lessons-btn {
    margin: -0.3rem auto 0;
    display: block;
    width: fit-content;
    color: #ffffff;
    background: #ff0000;
    border: 1px solid #ff0000;
    text-transform: unset;
    font-size: 14px;
    padding: 3px 21px; }
    @media (max-width: 992px) {
      .online-lessons .online-lessons-container .online-lessons-btn {
        margin: 0; } }

.video-n-accordion {
  position: relative; }
  @media (max-width: 992px) {
    .video-n-accordion {
      margin-top: -2px; } }
  .video-n-accordion .video-holder {
    position: relative; }
  .video-n-accordion .play-btn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer; }
    @media (max-width: 992px) {
      .video-n-accordion .play-btn {
        width: 102px;
        height: 102px; } }
    @media (max-width: 992px) {
      .video-n-accordion .play-btn svg {
        width: 100%;
        height: 100%; } }
  .video-n-accordion .accordion-holder {
    padding: 0 50px 66px; }
    @media (max-width: 992px) {
      .video-n-accordion .accordion-holder {
        padding: 0; } }
    .video-n-accordion .accordion-holder .video-n-accordion-container {
      position: relative;
      border-radius: 39px;
      background: #ff0000;
      padding: 15px;
      margin-top: -100px;
      z-index: 2; }
      @media (max-width: 992px) {
        .video-n-accordion .accordion-holder .video-n-accordion-container {
          border-radius: 0;
          margin-top: -8px;
          padding: 41px 20px; } }
      .video-n-accordion .accordion-holder .video-n-accordion-container .copy-block {
        display: flex;
        justify-content: space-between;
        gap: 160px; }
        @media (max-width: 992px) {
          .video-n-accordion .accordion-holder .video-n-accordion-container .copy-block {
            flex-direction: column;
            gap: 48px; } }
        .video-n-accordion .accordion-holder .video-n-accordion-container .copy-block .copy-block-text {
          display: flex;
          flex-direction: column;
          gap: 227px; }
          .video-n-accordion .accordion-holder .video-n-accordion-container .copy-block .copy-block-text h2 {
            font-family: "Clash Display Medium", sans-serif;
            font-weight: 500;
            line-height: 43px;
            letter-spacing: -0.5px;
            text-transform: uppercase;
            color: #ffffff;
            max-width: 435px;
            font-size: 45px;
            margin-top: 35px;
            margin-left: 20px; }
            .video-n-accordion .accordion-holder .video-n-accordion-container .copy-block .copy-block-text h2 span {
              color: #0d0d17; }
          .video-n-accordion .accordion-holder .video-n-accordion-container .copy-block .copy-block-text p {
            color: #ffffff;
            font-size: 14px;
            font-weight: 400;
            line-height: 18.196px;
            letter-spacing: -0.2px;
            max-width: 202px;
            margin-left: 1.5rem; }
        .video-n-accordion .accordion-holder .video-n-accordion-container .copy-block .copy-block-accordion .accordion-wrapper {
          max-width: 520px;
          margin-top: 2.5rem; }
          .video-n-accordion .accordion-holder .video-n-accordion-container .copy-block .copy-block-accordion .accordion-wrapper .item {
            padding-top: 12px;
            margin-bottom: 20px;
            border-top: 1px solid #ffffff; }
            .video-n-accordion .accordion-holder .video-n-accordion-container .copy-block .copy-block-accordion .accordion-wrapper .item .title {
              position: relative;
              color: #ffffff;
              font-size: 21px;
              font-style: normal;
              font-weight: 400;
              line-height: 18.196px;
              letter-spacing: -0.2px;
              margin-bottom: 20px;
              cursor: pointer;
              outline: none;
              transition: 0.5s; }
              @media (max-width: 992px) {
                .video-n-accordion .accordion-holder .video-n-accordion-container .copy-block .copy-block-accordion .accordion-wrapper .item .title {
                  font-size: 30px;
                  font-weight: 400;
                  line-height: 30px;
                  letter-spacing: -0.2px; } }
              .video-n-accordion .accordion-holder .video-n-accordion-container .copy-block .copy-block-accordion .accordion-wrapper .item .title::after {
                content: "+";
                position: absolute;
                right: 0; }
            .video-n-accordion .accordion-holder .video-n-accordion-container .copy-block .copy-block-accordion .accordion-wrapper .item .content {
              font-family: "GeneralSans Light", sans-serif;
              color: #ffffff;
              opacity: 0;
              max-height: 0;
              transition: all 0.5s, max-height 0.3s linear;
              font-size: 15px;
              line-height: 21px; }
            .video-n-accordion .accordion-holder .video-n-accordion-container .copy-block .copy-block-accordion .accordion-wrapper .item.active .title::after {
              content: "-";
              position: absolute;
              right: 0; }
            .video-n-accordion .accordion-holder .video-n-accordion-container .copy-block .copy-block-accordion .accordion-wrapper .item.active .content {
              visibility: visible;
              opacity: 1;
              max-height: 200px;
              transition: all 0.5s linear; }
        .video-n-accordion .accordion-holder .video-n-accordion-container .copy-block .copy-block-accordion .buttons-wrapper {
          margin-top: 170px;
          margin-bottom: 1.5rem;
          display: flex;
          gap: 36px; }
          .video-n-accordion .accordion-holder .video-n-accordion-container .copy-block .copy-block-accordion .buttons-wrapper a {
            text-transform: unset;
            font-size: 14px; }
          @media (max-width: 992px) {
            .video-n-accordion .accordion-holder .video-n-accordion-container .copy-block .copy-block-accordion .buttons-wrapper {
              display: none; } }

.courses {
  background: #151515;
  padding-top: 111px;
  padding-bottom: 100px; }
  @media (max-width: 992px) {
    .courses {
      padding-top: 59px;
      padding-bottom: 79px; } }
  .courses .courses-container .courses-subtitle {
    color: #ffffff;
    font-size: 26px;
    font-weight: 400;
    line-height: 50.654px;
    letter-spacing: -1px;
    margin-bottom: 7px;
    text-align: center; }
    @media (max-width: 992px) {
      .courses .courses-container .courses-subtitle {
        font-family: "Clash Display Regular", sans-serif;
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: 14px;
        text-transform: uppercase;
        letter-spacing: normal;
        text-align: left;
        margin-bottom: 27px; } }
  .courses .courses-container h2 {
    font-family: "GeneralSans Regular", sans-serif;
    color: #ffffff;
    max-width: 769px;
    text-align: center;
    margin: 0 auto;
    font-size: 42px;
    line-height: 49px;
    letter-spacing: -1px;
    margin-top: -2px; }
    @media (max-width: 992px) {
      .courses .courses-container h2 {
        text-align: left; } }
  .courses .courses-container .courses-cards-wrapper {
    display: flex;
    justify-content: center;
    gap: 97px;
    margin-top: 76px; }
    @media (max-width: 992px) {
      .courses .courses-container .courses-cards-wrapper {
        flex-direction: column;
        gap: 50px;
        margin-top: 63px; } }
    .courses .courses-container .courses-cards-wrapper .card {
      position: relative;
      max-width: 453px;
      padding: 31px 20px 3px;
      border-radius: 10px;
      min-height: 550px;
      display: flex;
      flex-direction: column;
      gap: 194px; }
      @media (max-width: 992px) {
        .courses .courses-container .courses-cards-wrapper .card {
          min-height: 512px;
          width: 100%;
          min-width: unset;
          border-radius: 15px; } }
      .courses .courses-container .courses-cards-wrapper .card .subtitle {
        text-transform: unset;
        width: fit-content;
        margin-left: -3px;
        padding: 4px 13px; }
      .courses .courses-container .courses-cards-wrapper .card h3 {
        font-family: "Clash Display Medium", sans-serif;
        text-transform: uppercase;
        margin-top: 18px;
        font-size: 45px;
        line-height: 45px; }
      .courses .courses-container .courses-cards-wrapper .card p {
        font-family: "GeneralSans Regular", sans-serif;
        font-size: 15px;
        font-weight: 400;
        line-height: 23.2px;
        letter-spacing: -0.36px; }
      .courses .courses-container .courses-cards-wrapper .card .buttons-wrapper {
        margin-top: 17px;
        margin-bottom: 1.8rem;
        display: flex;
        align-items: center;
        gap: 40px; }
        .courses .courses-container .courses-cards-wrapper .card .buttons-wrapper a {
          text-transform: unset;
          font-size: 15px;
          padding: 4px 13px; }
          @media (max-width: 768px) {
            .courses .courses-container .courses-cards-wrapper .card .buttons-wrapper a {
              font-size: 13px; } }
      .courses .courses-container .courses-cards-wrapper .card.first-course {
        background: #f5efef; }
        .courses .courses-container .courses-cards-wrapper .card.first-course .card-background-radial {
          position: absolute;
          z-index: 0;
          width: 100%;
          height: 85%;
          top: 10%;
          left: 0;
          border-radius: 370px;
          background: radial-gradient(70.71% 70.71% at 50% 50%, #ff0000 0%, rgba(255, 89, 0, 0) 70%); }
          @media (max-width: 992px) {
            .courses .courses-container .courses-cards-wrapper .card.first-course .card-background-radial {
              height: 68%; } }
        .courses .courses-container .courses-cards-wrapper .card.first-course .subtitle {
          border: 1px solid #000000;
          color: #222222; }
        .courses .courses-container .courses-cards-wrapper .card.first-course h3 {
          color: #ff0000;
          max-width: 390px; }
        .courses .courses-container .courses-cards-wrapper .card.first-course .card-lower {
          position: relative;
          z-index: 1; }
        .courses .courses-container .courses-cards-wrapper .card.first-course p {
          color: #777777; }
        .courses .courses-container .courses-cards-wrapper .card.first-course .buttons-wrapper a {
          border: 1px solid #000; }
          .courses .courses-container .courses-cards-wrapper .card.first-course .buttons-wrapper a:nth-child(1) {
            color: #222;
            padding: 4px 14px; }
          .courses .courses-container .courses-cards-wrapper .card.first-course .buttons-wrapper a:nth-child(2) {
            background: #191819;
            font-family: "GeneralSans Light", sans-serif;
            padding: 4px 16px; }
      .courses .courses-container .courses-cards-wrapper .card.second-course {
        background: #ff0000; }
        .courses .courses-container .courses-cards-wrapper .card.second-course h3 {
          color: #ffffff;
          max-width: 375px; }
        .courses .courses-container .courses-cards-wrapper .card.second-course p {
          color: #e1e1e1; }
        .courses .courses-container .courses-cards-wrapper .card.second-course .buttons-wrapper a:nth-child(2) {
          background: #ffffff;
          color: #050505; }

.real-results {
  padding-top: 73px;
  padding-bottom: 112px; }
  @media (max-width: 992px) {
    .real-results {
      padding-top: 40px;
      padding-bottom: 83px; } }
  @media (max-width: 992px) {
    .real-results .real-results-container {
      padding: 0; } }
  .real-results .real-results-container span {
    padding: 0 20px;
    margin-bottom: 16px;
    color: #0d0d17;
    font-family: "Clash Display Medium", sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 14px;
    text-transform: uppercase; }
  .real-results .real-results-container h2 {
    padding: 0 20px;
    color: #0d0d17;
    font-family: "Clash Display Medium", sans-serif;
    font-size: 40px;
    font-style: normal;
    font-weight: 500;
    line-height: 35px;
    letter-spacing: -0.8px;
    text-transform: uppercase; }
  .real-results .real-results-container .sliding-text-navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
    margin-top: 0; }
    @media (max-width: 992px) {
      .real-results .real-results-container .sliding-text-navigation {
        display: none; } }
    .real-results .real-results-container .sliding-text-navigation p {
      font-family: "Clash Display Medium", sans-serif;
      max-width: 203px;
      font-size: 17px;
      font-weight: 500;
      line-height: 18px;
      letter-spacing: -0.085px;
      text-transform: uppercase;
      color: #ffffff; }
      .real-results .real-results-container .sliding-text-navigation p:nth-child(2) {
        max-width: 155px;
        text-align: right; }
    .real-results .real-results-container .sliding-text-navigation p {
      color: #0d0d17;
      max-width: 150px;
      font-size: 15px; }
  .real-results .real-results-container .real-results-wrapper {
    display: flex;
    justify-content: space-between;
    gap: 27px;
    margin-top: 55px; }
    @media (max-width: 992px) {
      .real-results .real-results-container .real-results-wrapper {
        margin-top: 59px;
        overflow-x: auto;
        scroll-snap-type: x mandatory;
        margin: 77px 0 0 20px; } }
    .real-results .real-results-container .real-results-wrapper .item {
      width: 24%; }
      @media (max-width: 992px) {
        .real-results .real-results-container .real-results-wrapper .item {
          width: 100%;
          flex: 0 0 92%;
          scroll-snap-align: start; } }
      @media (max-width: 992px) {
        .real-results .real-results-container .real-results-wrapper .item:nth-child(1) {
          margin-right: -4%; } }
      .real-results .real-results-container .real-results-wrapper .item:nth-child(1) .image {
        background: url("/wp-content/uploads/2023/10/real-results-image-1.png"); }
      @media (max-width: 992px) {
        .real-results .real-results-container .real-results-wrapper .item:nth-child(2) {
          margin-right: -4%; } }
      .real-results .real-results-container .real-results-wrapper .item:nth-child(2) .image {
        background: url("/wp-content/uploads/2023/10/real-results-image-2.png"); }
      @media (max-width: 992px) {
        .real-results .real-results-container .real-results-wrapper .item:nth-child(3) {
          margin-right: -4%; } }
      .real-results .real-results-container .real-results-wrapper .item:nth-child(3) .image {
        background: url("/wp-content/uploads/2023/10/real-results-image-3.png"); }
      .real-results .real-results-container .real-results-wrapper .item:nth-child(4) .image {
        background: url("/wp-content/uploads/2023/10/real-results-image-4.png"); }
      @media (max-width: 992px) {
        .real-results .real-results-container .real-results-wrapper .item:last-child {
          margin-right: 20px; } }
      .real-results .real-results-container .real-results-wrapper .item .image {
        width: 100%;
        height: 300px;
        background-size: cover !important;
        background-repeat: no-repeat !important; }
      .real-results .real-results-container .real-results-wrapper .item .real-results-btn {
        width: fit-content;
        display: block;
        padding: 0 7px;
        margin: 18px 0 3px;
        border: 1px solid #222;
        color: #000;
        text-transform: capitalize;
        font-size: 12px;
        font-weight: 400;
        line-height: 27px;
        letter-spacing: -0.3px; }
      .real-results .real-results-container .real-results-wrapper .item .name {
        margin-bottom: 5px;
        color: #222;
        font-size: 27px;
        font-weight: 400;
        line-height: 32px;
        letter-spacing: -0.28px; }
      .real-results .real-results-container .real-results-wrapper .item .profession {
        color: #000;
        font-size: 15px;
        font-weight: 400;
        line-height: 18.9px;
        letter-spacing: -0.72px; }

.newsletter {
  background: #ff0000;
  padding-top: 60px; }
  @media (max-width: 992px) {
    .newsletter {
      padding-top: 31px;
      margin: 0 20px 63px;
      border-radius: 24px; } }
  .newsletter .newsletter-container {
    display: flex;
    justify-content: flex-start;
    gap: 75px; }
    @media (max-width: 992px) {
      .newsletter .newsletter-container {
        flex-direction: column;
        gap: 35px; } }
    .newsletter .newsletter-container .newsletter-copy {
      margin-top: 70px; }
      @media (max-width: 992px) {
        .newsletter .newsletter-container .newsletter-copy {
          margin-top: 0; } }
      .newsletter .newsletter-container .newsletter-copy h2 {
        font-family: "Clash Display Medium", sans-serif;
        text-transform: uppercase;
        color: #ffffff;
        max-width: 510px;
        margin-bottom: 34px;
        margin-top: -10px;
        font-size: 35px;
        line-height: 39px;
        letter-spacing: 0.5px; }
      .newsletter .newsletter-container .newsletter-copy form {
        display: flex; }
        .newsletter .newsletter-container .newsletter-copy form input {
          color: #ffffff;
          background: transparent;
          padding: 2px 17px;
          font-size: 13px;
          font-weight: 400;
          line-height: 25.2px;
          letter-spacing: -0.36px;
          border-radius: 40px;
          border: 1px solid #ffffff;
          outline: none; }
          @media (max-width: 992px) {
            .newsletter .newsletter-container .newsletter-copy form input {
              width: 65%;
              font-size: 17px; } }
          .newsletter .newsletter-container .newsletter-copy form input::placeholder {
            color: #ffffff; }
        .newsletter .newsletter-container .newsletter-copy form button {
          cursor: pointer;
          text-transform: unset;
          margin-left: 27.5px; }
          @media (max-width: 992px) {
            .newsletter .newsletter-container .newsletter-copy form button {
              margin-left: 13px; } }
    .newsletter .newsletter-container img {
      max-width: 450px; }

.faqs {
  padding-top: 124px;
  padding-bottom: 41px;
  background: #151515; }
  @media (max-width: 992px) {
    .faqs {
      padding-top: 57px;
      padding-bottom: 33px; } }
  .faqs .faqs-container span {
    margin-bottom: 13px;
    color: #ffffff;
    font-family: "Clash Display Medium", sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 14px;
    text-transform: uppercase; }
  .faqs .faqs-container h2 {
    font-family: "GeneralSans Regular", sans-serif;
    color: #ffffff;
    text-transform: unset;
    text-align: center;
    max-width: 555px;
    margin: 0 auto;
    font-size: 41px;
    line-height: 46px; }
    @media (max-width: 992px) {
      .faqs .faqs-container h2 {
        max-width: 255px;
        margin: 0;
        font-size: 30px;
        font-style: normal;
        font-weight: 400;
        line-height: 30.5px;
        letter-spacing: -0.6px;
        text-align: left; } }
  .faqs .faqs-container .accordion-wrapper {
    margin-top: 76px;
    margin-left: -3px; }
    @media (max-width: 992px) {
      .faqs .faqs-container .accordion-wrapper {
        margin-top: 41px; } }
    .faqs .faqs-container .accordion-wrapper .item {
      padding-top: 23px;
      padding-bottom: 4px;
      border-top: 1px solid #ffffff; }
      @media (max-width: 992px) {
        .faqs .faqs-container .accordion-wrapper .item {
          padding-top: 4px;
          padding-bottom: 4px; } }
      .faqs .faqs-container .accordion-wrapper .item .title {
        font-family: "GeneralSans Regular", sans-serif;
        position: relative;
        color: #ffffff;
        font-size: 20px;
        font-weight: 400;
        line-height: 9.2px;
        letter-spacing: -0.2px;
        margin-bottom: 20px;
        cursor: pointer;
        transition: 0.5s; }
        @media (max-width: 992px) {
          .faqs .faqs-container .accordion-wrapper .item .title {
            font-size: 18px;
            font-style: normal;
            font-weight: 400;
            line-height: 25px;
            letter-spacing: -0.2px;
            padding-right: 4px;
            margin-bottom: 12px; } }
        .faqs .faqs-container .accordion-wrapper .item .title::after {
          content: "+";
          position: absolute;
          right: 0; }
      .faqs .faqs-container .accordion-wrapper .item .content {
        font-family: "GeneralSans Regular", sans-serif;
        font-size: 18px;
        font-weight: 400;
        line-height: 20.696px;
        letter-spacing: -0.2px;
        color: #ffffff;
        opacity: 0;
        max-height: 0;
        transition: all 0.5s, max-height 0.3s linear; }
        @media (max-width: 1440px) {
          .faqs .faqs-container .accordion-wrapper .item .content {
            letter-spacing: -0.176px; } }
        @media (max-width: 1280px) {
          .faqs .faqs-container .accordion-wrapper .item .content {
            font-size: 17px; } }
        @media (max-width: 375px) {
          .faqs .faqs-container .accordion-wrapper .item .content {
            font-size: 16px;
            line-height: 19px;
            letter-spacing: -0.176px; } }
        .faqs .faqs-container .accordion-wrapper .item .content.semi-bold {
          font-weight: 600; }
        @media (max-width: 992px) {
          .faqs .faqs-container .accordion-wrapper .item .content {
            font-size: 14px !important; } }
      .faqs .faqs-container .accordion-wrapper .item.active .title::after {
        content: "-";
        position: absolute;
        right: 0; }
      .faqs .faqs-container .accordion-wrapper .item.active .content {
        visibility: visible;
        opacity: 1;
        max-height: 200px;
        transition: all 0.5s linear;
        margin-bottom: 12px; }
  .faqs .faqs-container .text-us-p {
    font-family: "GeneralSans Light", sans-serif;
    color: #ffffff;
    font-size: 17px;
    font-weight: 400;
    line-height: 25.154px;
    letter-spacing: -0.4px;
    text-align: center;
    max-width: 420px;
    margin: 37px auto 0; }
    @media (max-width: 992px) {
      .faqs .faqs-container .text-us-p {
        margin: 28px auto 0;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 22.154px;
        letter-spacing: -1px; } }

.where-do-you-fit {
  position: relative;
  background: #151515;
  padding-top: 60px;
  padding-bottom: 83px; }
  @media (max-width: 992px) {
    .where-do-you-fit {
      margin-top: -2px;
      padding-top: 59px;
      padding-bottom: 79px; } }
  .where-do-you-fit .radial-background-1 {
    width: 806px;
    height: 806px;
    position: absolute;
    top: -30%;
    right: -200px;
    border-radius: 370px;
    background: radial-gradient(70.71% 70.71% at 50% 50%, rgba(255, 0, 0, 0.5) 0%, rgba(255, 89, 0, 0) 70%); }
    @media (max-width: 992px) {
      .where-do-you-fit .radial-background-1 {
        display: none; } }
  .where-do-you-fit .radial-background-2 {
    width: 806px;
    height: 806px;
    position: absolute;
    top: 10%;
    left: -550px;
    border-radius: 370px;
    background: radial-gradient(70.71% 70.71% at 50% 50%, rgba(255, 0, 0, 0.5) 0%, rgba(255, 89, 0, 0) 70%); }
    @media (max-width: 992px) {
      .where-do-you-fit .radial-background-2 {
        display: none; } }
  .where-do-you-fit .where-do-you-fit-container .subtitle {
    padding-top: 25px;
    border-top: 1px solid #d9d9d9;
    font-family: "GeneralSans Regular", sans-serif;
    color: #ffffff;
    font-size: 14px;
    font-weight: 400;
    line-height: 18.196px;
    letter-spacing: -0.2px;
    margin-bottom: 25px;
    margin-left: -5px;
    margin-top: -2px; }
    @media (max-width: 992px) {
      .where-do-you-fit .where-do-you-fit-container .subtitle {
        border: unset;
        font-family: "Clash Display Regular", sans-serif;
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: 14px;
        text-transform: uppercase;
        margin-bottom: 27px; } }
  .where-do-you-fit .where-do-you-fit-container h2 {
    font-family: "Clash Display Medium", sans-serif;
    font-weight: 500;
    color: #ffffff;
    text-transform: uppercase;
    max-width: 500px;
    font-size: 50px;
    margin-top: -2px;
    margin-left: -3px;
    letter-spacing: 1.4px; }
    @media (max-width: 992px) {
      .where-do-you-fit .where-do-you-fit-container h2 {
        font-family: "GeneralSans Regular", sans-serif;
        margin: 0;
        text-align: left;
        text-transform: unset; } }
  .where-do-you-fit .where-do-you-fit-container .courses-wrapper {
    position: relative;
    margin-top: 170px;
    display: flex;
    gap: 112px; }
    @media (max-width: 992px) {
      .where-do-you-fit .where-do-you-fit-container .courses-wrapper {
        margin-top: 60px;
        flex-direction: column;
        gap: 30px; } }
    .where-do-you-fit .where-do-you-fit-container .courses-wrapper .course-separator {
      width: 1px;
      height: auto;
      background: #d9d9d9; }
    .where-do-you-fit .where-do-you-fit-container .courses-wrapper .course {
      max-width: 390px; }
      .where-do-you-fit .where-do-you-fit-container .courses-wrapper .course h3 {
        font-family: "Clash Display Medium", sans-serif;
        font-weight: 500;
        color: #ffffff;
        font-size: 36px;
        line-height: 35px;
        text-transform: uppercase;
        max-width: 315px; }
      .where-do-you-fit .where-do-you-fit-container .courses-wrapper .course p {
        font-family: "GeneralSans Regular", sans-serif;
        font-weight: 400;
        font-size: 14px;
        color: #bebebe;
        margin-top: 32px;
        margin-bottom: 28px;
        margin-left: -5px;
        max-width: 450px; }
      .where-do-you-fit .where-do-you-fit-container .courses-wrapper .course .buttons-wrapper {
        display: flex;
        gap: 37px;
        margin-top: -5px; }
        .where-do-you-fit .where-do-you-fit-container .courses-wrapper .course .buttons-wrapper a {
          text-transform: unset;
          padding: 2px 18px;
          font-size: 14px;
          margin-right: -7px; }
          .where-do-you-fit .where-do-you-fit-container .courses-wrapper .course .buttons-wrapper a:nth-child(2) {
            background: #ff0000;
            color: #ffffff;
            border: 1px solid #ff0000; }
      .where-do-you-fit .where-do-you-fit-container .courses-wrapper .course:nth-child(2) h3 {
        max-width: 280px; }

.money-back-guarantee {
  padding-top: 117px;
  padding-bottom: 83px;
  background: #ff0000; }
  @media (max-width: 992px) {
    .money-back-guarantee {
      margin: 41px 20px 0;
      padding-top: 31px;
      padding-bottom: 31px;
      border-radius: 24px; } }
  .money-back-guarantee .money-back-guarantee-container {
    position: relative; }
    @media (max-width: 992px) {
      .money-back-guarantee .money-back-guarantee-container {
        padding: 0 16px; } }
    .money-back-guarantee .money-back-guarantee-container a {
      text-transform: unset;
      padding: 5px 20px; }
    .money-back-guarantee .money-back-guarantee-container h2 {
      position: relative;
      font-family: "Clash Display Medium", sans-serif;
      font-weight: 400;
      line-height: 44px;
      font-size: 40px;
      z-index: 1;
      max-width: 488px;
      margin-top: 27px;
      color: #ffffff;
      font-family: "GeneralSans Regular", sans-serif; }
      @media (max-width: 992px) {
        .money-back-guarantee .money-back-guarantee-container h2 {
          text-transform: uppercase; } }
    .money-back-guarantee .money-back-guarantee-container .mobile-btn {
      position: relative;
      z-index: 1;
      display: block;
      width: fit-content;
      margin-top: 144px; }
    .money-back-guarantee .money-back-guarantee-container .radial-background {
      position: absolute;
      bottom: 0;
      right: 20px;
      width: 258px;
      height: 258px;
      border-radius: 370px;
      background: radial-gradient(70.71% 70.71% at 50% 50%, #fff 0%, #f00 70%); }

/*# sourceMappingURL=theme.css.map */
