* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth; // can mess up with Scroll To Top, also prevents scrolling with mouse3 button, comment it out if needed
}

body {
    color: $text-dark;
    overflow-x: hidden;
}

.container {
    padding: 0 60px;
    @include media($custom_1440) {
        padding: 0 56px;
    }
    @include media(lg) {
        padding: 0 20px;
    }
}

img {
    width: 100%;
    height: auto;
}